.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }


.btn-file {
  position: relative;
  overflow: hidden;
  margin-left: 55px;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.card{
  padding: 5px;
}

.btn-action{
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
  margin-right: 5px;
}


.btn-modal{

    .btn{
        margin-left:5px;
    }

}