    <button type="button" class="btn btn-primary" (click)="open(content)" >{{ 'Manage your file' | translate }}</button>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
                <h3 class="navbar-brand">{{ 'Manage your file' | translate }}</h3>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-body">
            <div style="margin: 5px;" class="card" *ngIf="waitingList.length > 0">
                <div class="row">
                    <h3 style="margin-left: 25px;">{{ 'Upload queue' | translate}}</h3>
                </div>
                <div class="row" style="margin-left: 10px; margin-top: 5px;">
                    <div class="col-md-12" style="margin-bottom: 40px; padding: 0px 30px 0px 5px;" *ngIf="waitingList.length > 0 ">
                        <table class="table btn-modal">
                            <thead>
                            <tr>
                                <th width="75%">{{ 'Name' | translate}}</th>
                                <th>{{ 'Actions' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of waitingList">
                                <td><strong>{{ item.name }}</strong></td>
                                <td nowrap>
                                    <button type="button" class="btn btn-danger btn-xs"
                                            (click)="delete(item.hash)">
                                        <span class="fa fa-trash"></span> {{ 'Delete' | translate}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                </div>
            </div>

            <div style="margin: 5px;" class="card">
                <div class="row">
                    <h3 style="margin-left: 25px;">{{ 'Upload files queue' | translate}}</h3>
                </div>
                <div class="row">
                    <span class="btn btn-primary btn-file">
                        {{ 'Select files' | translate}}
                        <input type="file" ng2FileSelect [uploader]="uploader" multiple />
                    </span>
                </div>
                <div class="row" style="margin-left: 10px; margin-top: 5px;">
                    <div class="col-md-12" style="margin-bottom: 40px; padding: 0px 30px 0px 5px;" *ngIf="uploader?.queue?.length > 0 ">
                            <table class="table btn-modal">
                                <thead>
                                <tr>
                                    <th width="75%">{{ 'Name' | translate}}</th>
                                    <th>{{ 'Actions' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                            <tr *ngFor="let item of uploader.queue" >
                                <td><strong>{{ item?.file?.name }}</strong></td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs"
                                            (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess || item.isUploaded">
                                        <span class="glyphicon glyphicon-upload"></span> {{ 'Upload' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs"
                                            (click)="item.cancel()" [disabled]="!item.isUploading || item.isUploaded">
                                        <span class="glyphicon glyphicon-ban-circle"></span> {{ 'Cancel' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs"
                                            (click)="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> {{ 'Remove' | translate}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div *ngIf="uploader?.queue?.length > 0" class="btn-modal">
                            <div style="margin-bottom: 5px;" *ngIf="(uploader.progress > 0)">
                                {{ 'Queue progress' | translate}}:
                                <div class="progress" style="">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                                </div>
                            </div>
                            <div >
                                <button type="button" class="btn btn-success btn-s"
                                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                                    <span class="glyphicon glyphicon-upload"></span> {{ 'Upload all' | translate}}
                                </button>
                                <button type="button" class="btn btn-warning btn-s"
                                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> {{ 'Cancel all' | translate}}
                                </button>
                                <button type="button" class="btn btn-danger btn-s"
                                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                                    <span class="glyphicon glyphicon-trash"></span> {{ 'Remove all' | translate}}
                                </button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div style="margin: 5px; height: 400px; overflow-y: auto;" class="card">
                <div class="row">
                    <h3 style="margin-left: 25px;">{{'Cards Files' | translate}}</h3>
                </div>
                <div class="row">
                    <div *ngIf="files.length > 0">
                        <ul *ngIf="files" class="list-scan">
                            <ng-container *ngFor="let scan of files" >
                            <li  *ngIf="scan.files_name.indexOf('.json') == -1">
                                <span>
                                    <span>{{scan.files_name}}</span> (<span>{{(scan.files_size / 1000000) | number:0}} {{'MB' | translate}}</span>) <span class="btn btn-primary btn-action" (click)="download(scan.files_name, scan.files_hash)"><i class="fa fa-download"></i></span>  <span class="btn btn-danger btn-action" (click)="delete(scan.files_hash)"><i class="fa fa-remove"></i></span>
                                </span>
                            </li>
                            </ng-container>
                        </ul>
                    </div>
                    <div style="margin-left: 25px;">
                        <p *ngIf="!files.length">{{'No file found' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>
