<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idGabarit === undefined">{{ 'Add gabarit' | translate }}</h1>
  <h1 *ngIf="idGabarit !== undefined">{{ 'Edit gabarit' | translate }} - {{ gabarit.name | translate}}</h1>
  <form #gabaritForm="ngForm" (ngSubmit)="gestionGabarit(gabarit)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="gabarit.name" name="name">
    </div>
    <div class="col-md-12 pt-2">
      <p>{{ 'displayed_translation' | translate }}: {{ gabarit.name | translate }}</p>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!gabaritForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete gabarit' | translate }} - {{ gabarit.name }}</h1>
  <form #sportForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ gabarit.name }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
