<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">404</span>
        <div class="mb-4 lead">{{'The page you are looking for was not found' | translate}}</div>
        <p><a [routerLink]="['/dashboard']" class="btn btn-link">{{'back to home' | translate}}</a></p>
      </div>
    </div>
  </div>
</div>
