.day-selector {
  span {
    background-color: lightgreen;
    padding: 4px;
    border-radius: 3px;
  }
}

ul {
  cursor: pointer;
  list-style-type: none;
  display: inline;
  text-align: left;
  li {
    display: inline;
    span {
      margin: 4px;
    }
  }
}
