<div class="container-fluid">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
  <app-page-header [heading]="'All usersCards'" [link_new]="'users/cards/add'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="form-group">
      <div class="input-group select-good">
        <label>{{'sort by status' | translate}}</label>
        <select [(ngModel)]="filterStatus" name="filterStatus" id="filterStatus" (change)="filterCardByStatus()">
          <option value="">{{ 'all' | translate }}</option>
          <option *ngFor="let c of status" [ngValue]="c.id">{{c.name | translate}}</option>
        </select>
      </div>


    </div>
  </div>
  <app-datatable [model]="'usersCards'" [order]="order" [heading]="heading" [baseUrl]="baseURl" [actions]="actions"></app-datatable>
</div>