.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.align-r{

  qrcode, app-modal-file{

    float: right;
    margin-right: 5px;

  }

}

.card{
  padding: 5px;
}

.field_bind {
  margin-top: -22px;
  /*margin-top: 0px;*/
}

.hcAlert {
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #f1d7da;
  color: #721c24;
  background-color: #f1d7da;
  font-weight: 600;
  font-size: 14px;
}

.hcInfo {
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #fff3cd;
  color: #856404;
  background-color: #fff3cd;
  font-weight: 600;
  font-size: 14px;
}

.smiley {
  position: relative;
  margin: 10px 0;
  height: 40px;
  .pain-smiley {
    position: absolute;
    width: 30px;
    left: 0;
    &.right {
      right: 0;
      left: inherit;
    }
  }
}

#shipping option[value="4"]{
  // display: none;
}

#editFormCard{
  &.closedStatus{
    input:not(#weight):not(#height):not(#painlevel_2):not(#painlevel_3),
    select:not(#pratique):not(#sport):not(#pathology):not(#shoesize),
    textarea:not(#freeText){
      pointer-events: none;
      background-color: #f3f3f3;
    }

    label, #shipping_days li span {
      pointer-events: none;
    }

  }
}

.beingDuplicated {
  #finishing, #materials, #shipping, #recovery, #flangeColor {
    pointer-events: initial !important;
    background-color: #fff !important;
  }
  label[for="finishing"], label[for="materials"], label[for="shipping"],
  label[for="recovery"], label[for="flangeColor"] {
    pointer-events: initial !important;
  }
}

.template-loader {
  margin-left: 40px;
}

.sticky-container {
  height: 70vh;
  overflow: auto;
}

.sticky-element {
  position: sticky;
  top: 20px;
  // align-self: flex-start;
}

button:disabled {
  cursor: not-allowed;
}

.send-production-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.send-production-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  button {
    margin-right: 20px;
  }
}

.send-production-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.send-production-close:hover,
.send-production-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.box-select-sandales {
  padding: 5px 10px;
}

.input-container {
  padding: 14px 0px 5px 20px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.input-container input {
  margin-right: 10px;
}

.bloc-arrow-close {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: -23px;
  cursor: pointer;
}

.bloc-arrow-open {
  position: absolute;
  right: 0px;
  cursor: pointer;
  z-index: 4;
}
#decharge_c3_p_g, #decharge_c3_p_d {
  margin-top: 2px;
}

hr {
  border-top: 1px solid rgba(0,0,0,0);
}
