
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" placeholder="dd-mm-yyyy" id="datePickerField"
                   name="dp" [(ngModel)]="model" ngbDatepicker  #d="ngbDatepicker" required>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
            </div>
        </div>
    </div>
