<div class="row">
    <button class="btn btn-primary" (click)="open(content)" *ngIf="listDataUndo.length > 0 " >{{ 'UNDO' | translate }}</button>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h2 class="modal-title">{{ 'UNDO' | translate }}</h2>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <h3>{{'Lists of cards validated to go to the next step:' | translate}}</h3>
            </div>
            <div>
                <div class="listes_fiches_undo" style="height: 400px; overflow: auto;">
                    <div >
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 40px;">Id</th>
                                <th style="width: 190px;">Podo</th>
                                <th style="width: 190px;">Nom Prénom</th>
                                <th style="width: 100px;">Actions</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let element of listDataUndo">
                            <tr style="text-align: center;" class="table_field">
                                <td>{{element.id}}</td>
                                <td>{{element.podo_firstname}} {{element.podo_lastname}}</td>
                                <td>{{element.patient_firstname}} {{element.patient_lastname}}</td>
                                <td><button class="undofiche btn btn-primary btn-blue" (click)="previewUndo(element.hash)">{{'Restore'| translate}}</button></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div *ngIf="listDataUndo.length == 0">
                        <p>{{'No items retrieved' | translate}}</p>
                    </div>

                </div>


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close'| translate}}</button>
        </div>
    </ng-template>
</div>
