<div class="container">
  <h1 *ngIf="idUsersCards === undefined">{{ 'Add usersCards' | translate }}</h1>
  <h1 *ngIf="idUsersCards !== undefined">{{ 'Edit usersCards' | translate }} - {{ nameUsersCards }}</h1>
  <div *ngIf="status === 'error'" role="alert" class="alert alert-danger alert-dismissible">
    <button aria-label="Close" class="close ng-star-inserted" type="button"><span aria-hidden="true">×</span></button>
    {{ 'ERROR: Elements not created'| translate }}
  </div>
  <form #usersCardsForm="ngForm" (ngSubmit)="gestionUsersCards(idUsersCards)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="usersCardsModel.name" value="{{ nameUsersCards }}" name="name">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!usersCardsForm.form.valid">{{ 'Submit' | translate }}</button>

  </form>
</div>

