<div class="container">
  <h1>{{ 'export db' | translate }}</h1>
  <div *ngIf="status === 'error'" role="alert" class="alert alert-danger alert-dismissible">
    <button aria-label="Close" class="close ng-star-inserted" type="button"><span aria-hidden="true">×</span></button>
    {{ 'ERROR: Elements not created'| translate }}
  </div>
  <form #exportdbForm="ngForm">
    <div class="form-group">
      <div class="d-inline">
        <select [(ngModel)]="selectValue" name="selectValue" id="select-download">
          <option *ngFor="let item of items" [ngValue]="item.id">
            {{item.name | translate}}
          </option>
        </select>
      </div>
      <div class="d-inline">
        <button class="btn btn-primary downloadFile" (click)="downloadXls()">{{ 'Export' | translate }}</button>
      </div>
    </div>
  </form>
</div>

