.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.downloadFile {
  cursor: pointer;
  margin-top: -3px;
  text-transform: uppercase;
  padding: 6px 20px;
}

#select-download {
  padding: 10px;
  border: 0px;
  background-color: #f3f3f3;
  margin-top: 30px;
  border-radius: 5px;
  margin-right: 5px;
}