    <button class="btn btn-primary" type="button" (click)="open(content)" *ngIf="type == 'conclusions'">{{ 'Choisir une ou des conclusions' | translate }}</button>
    <button class="btn btn-primary" type="button" (click)="open(content)" *ngIf="type == 'greetings'">{{ 'Choisir une ou des phrases de remerciement' | translate }}</button>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h3 class="modal-title">
                <span *ngIf="type == 'conclusions'">{{ 'Choisir une ou des conclusions' | translate }}</span>
                <span *ngIf="type == 'greetings'">{{ 'Choisir une ou des phrases de remerciement' | translate }}</span>
            </h3>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div>
                <div class="listes_fiches_undo" style="height: 400px; overflow: auto;">
                    <div *ngIf="listData.length > 0">
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th style="width: 10%;"></th>
                                <th style="width: 30%;">{{'title' | translate}}</th>
                                <th style="width: 60%;">{{'phrase' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let element of listData; let i = index;">
                            <tr style="text-align: center;" class="table_field">
                                <td><input [(ngModel)]="element.selected" id="{{'element' + (i+1)}}" ng-selected="element.selected" type="checkbox"></td>
                                <td><label for="{{'element' + (i+1)}}">{{element.title}}</label></td>
                                <td><label for="{{'element' + (i+1)}}">{{element.phrase}}</label></td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                    <div *ngIf="listData.length == 0">
                        <p>{{'No items retrieved' | translate}}</p>
                    </div>

                </div>


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="add(); c('Close click');">{{'Add'| translate}}</button>
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close'| translate}}</button>
        </div>
    </ng-template>
