
<div class="demo-page page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
            <div *ngIf="!hash" class="col-md-12 text-center">
                <img src="assets/images/logo-gespodo.svg" class="logo-demo"/>
                <p>Veuillez ajouter vos coordonnées dans le formulaire ci-dessous afin de participer à la demo de <strong>Gespodo</strong>.
                <br/>Vous recevrez vos accès et vos identifiants par email.</p>
                <form #demoForm="ngForm" (ngSubmit)="inscription()">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="lastname">Nom</label>
                            <input type="text" class="form-control" id="lastname" required [(ngModel)]="demoModel.lastname"
                                   name="lastname">
                        </div>
                        <div class="col-md-6">
                            <label for="firstname">Prénom</label>
                            <input type="text" class="form-control" id="firstname" required [(ngModel)]="demoModel.firstname"
                                   name="firstname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" required [(ngModel)]="demoModel.email"
                                   name="email">
                        </div>
                        <div class="col-md-6">
                            <label for="phone">Numéro de téléphone</label>
                            <input type="tel" class="form-control" id="phone" required [(ngModel)]="demoModel.phone"
                                   name="phone">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div>
                                <label for="job">Profession</label>
                                <select class="form-control" id="job" [(ngModel)]="demoModel.job" name="job" required>
                                    <option value="Pédicure – Podologue – Podiatrist – DPM">Pédicure – Podologue – Podiatrist – DPM</option>
                                    <option value="Podo-Orthésiste - Orthopédiste">Podo-Orthésiste - Orthopédiste</option>
                                    <option value="Pharmacien">Pharmacien</option>
                                    <option value="Professionnel de Santé (Médecin, Kiné, Ostéo)">Professionnel de Santé (Médecin, Kiné, Ostéo)</option>
                                    <option value="Magasin de matériel medical">Magasin de matériel medical</option>
                                    <option value="Hopital – Maison de Repos – EHPAD">Hopital – Maison de Repos – EHPAD</option>
                                    <option value="Professionnel du footwear">Professionnel du footwear</option>
                                    <option value="Patient">Patient</option>
                                    <option value="other">Autre</option>
                                </select>
                            </div>
                            <div *ngIf="demoModel.job == 'other'" style="margin-top: 3px;">
                                <input type="text" class="form-control" id="jobalter" [(ngModel)]="demoModel.jobAlter" name="jobAlter" placeholder="Autre profession" [required]="demoModel.job == 'other'">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <label for="country">Pays</label>
                                <select class="form-control" id="country" [(ngModel)]="demoModel.country" name="country" required>
                                    <option value="Allemagne">Allemagne</option>
                                    <option value="Autriche">Autriche</option>
                                    <option value="Belgique">Belgique</option>
                                    <option value="Espagne">Espagne</option>
                                    <option value="France">France</option>
                                    <option value="Italie">Italie</option>
                                    <option value="Irlande">Irlande</option>
                                    <option value="Luxembourg">Luxembourg</option>
                                    <option value="Pays-bas">Pays-bas</option>
                                    <option value="Pologne">Pologne</option>
                                    <option value="Portugal">Portugal</option>
                                    <option value="Royaume-Uni">Royaume-Uni</option>
                                    <option value="Suisse">Suisse</option>
                                    <option value="other">Autre</option>
                                </select>
                            </div>
                            <div *ngIf="demoModel.country == 'other'" style="margin-top: 3px;">
                                <input type="text" class="form-control" id="countryalter" [(ngModel)]="demoModel.countryAlter" name="countryalter" placeholder="Autre pays" [required]="demoModel.country == 'other'">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <input class="form-check" required="required" [(ngModel)]="demoModel.accept_condition" value="1" id="accept_condition" name="accept_condition" type="checkbox"> <label for="accept_condition">{{'I have read and accept' | translate}} <a target="_blank" href="{{ urlContionGenerales }}">{{'the general terms of use and Privacy' | translate}}</a></label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success" [disabled]="!demoForm.form.valid">Envoyer
                        </button>
                    </div>



                </form>
            </div>
            <div *ngIf="hash" class="col-md-12 text-center">
                <div class="row">
                    <div class="col-md-12 head-connected">
                        <h1 *ngIf="user">Bienvenue - {{ user.firstname }} {{ user.lastname }}</h1>
                        <p>Veuillez installer l'application <strong>Gespodo</strong>, ci-dessous, afin d'essayer cette fonctionalité.</p>
                        <p><a href="/demo/login/{{user.hash}}/{{user.code}}"  class="btn btn-primary" >Télécharger l'application android</a></p>
                        <p>Votre code d'identification est: <b>{{ user.code }}</b></p>
                    </div>
                    <a href="{{urlPlaystore}}" id="playstoreLink" target="_blank"></a>
                </div>
                <!--<div class="row">
                    <div class="col-md-6">
                        <qrcode [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode>
                    </div>
                    <div class="col-md-6">
                        <h2>Listes de vos scans</h2>
                        <ul *ngIf="scans" class="list-scan">
                            <li *ngFor="let scan of scans">
                                <span *ngIf="scan.name.indexOf('.json') == -1">
                                    <span>{{scan.name}}</span> - <a href="{{urlDemoFile + '/' + scan.hash +'?token='+ user.token }}" download="{{scan.name}}" target="_blank">Télécharger</a>
                                </span>
                            </li>
                        </ul>
                        <p *ngIf="!scans">Aucuns scans liés à votre profil, actuellement.</p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>


