<div class="container-fluid">
  <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
  <app-page-header [heading]="'All patients'" [icon]="'fa-table'"></app-page-header>
  <app-datatable [model]="'patients'" [heading]="heading" [baseUrl]="baseURl" [actions]="actions"></app-datatable>
</div>