<div class="container">
  <div *ngIf="!deleteAction" class="container">
    <h1 *ngIf="hashUsersWaitingLine === undefined">{{ 'Add usersWaitingLine' | translate }}</h1>
    <h1 *ngIf="hashUsersWaitingLine !== undefined">{{ 'Edit usersWaitingLine' | translate }} - {{ patient.firstname }} {{ patient.lastname }}</h1>
    <form #usersWaitingLineForm="ngForm">
      <div class="form-group">
        <table class="table" *ngIf="usersWaitingLineModel.length > 0">
          <tr>
            <th>{{'name' | translate}}</th>
            <th>{{'action' | translate}}</th>
          </tr>
          <tr *ngFor="let file of usersWaitingLineModel">
            <td>{{file.name}}</td>
            <td>
                <select class="list_card">
                  <option *ngFor="let list of userCardList" value="{{list.hash}}">{{list.firstname}} {{list.lastname}} ({{list.dateInsert}})</option>
                </select>
                <input type="hidden" value="{{ file.hash }}" class="file_hash">
                <button type="button" class="btn btn-primary forward-file" >{{'Move' | translate }}</button>
            </td>
          </tr>
        </table>
        <p *ngIf="usersWaitingLineModel.length == 0">{{'Elements no found' | translate}}</p>
      </div>
    </form>
    <div>
      <p><a [routerLink]="['/users/waitingLine']" class="btn btn-secondary">{{'return back' | translate}}</a></p>
    </div>
  </div>
  <div *ngIf="deleteAction" class="container">
    <h1>{{ 'Delete waitingLine' | translate }} - {{ patient.firstname }} {{ patient.lastname }}</h1>
    <form #materialForm="ngForm">
      <div>{{ 'Are you sure you want to delete the waiting line for the patient'| translate }} : {{ patient.firstname }} {{ patient.lastname }}</div>

      <button type="button" class="btn btn-danger" (click)="delete()">{{ 'Delete' | translate }}</button>
      <a [routerLink]="['/users/waitingLine']" class="btn btn-secondary">{{'return back' | translate}}</a>

    </form>
  </div>
</div>

