<div class="container">
  <h1 *ngIf="id !== undefined">{{ 'Edit finishing' | translate }} - {{ finishing.name | translate }}</h1>
  <form #finishingForm="ngForm" (ngSubmit)="edit()">
    <div class="form-group">
      <label for="price">{{ 'price' | translate }}</label>
      <input type="number" class="form-control" id="name" required [(ngModel)]="finishing.price" name="price">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!finishingForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

