$blue: #061328;
$white: #fff;
$red: #DD4D37;

:host {
    display: block;
}
.login-page {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: $blue;
    text-align: center;
    color: #fff;
    padding: 3em;

    .returnlink{
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .loader-login{

        

    }

    .row{

        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        .login-box{

            height: 500px;
            position: absolute;
            top: calc(50% - 250px);
            left:0;
            width: 100%;
            padding: 0 10%;


            .logo-login{

                max-width: 400px;
                width: 100%;

            }

            h1 {
                font-weight: 300;
                margin-top: 30px;
                margin-bottom: 20px;
                font-size: 36px;
                small {
                    color: rgba(255, 255, 255, 0.7);
                }
            }

            .form-group{

                margin-bottom:25px;
                line-height: 0;

                .input-underline{

                    height: 46px;
                    background-color:rgba($white, .3);
                    border:0;
                    color:#FFF;

                }

            }

            .new-psw{

                text-align:right;
                color:#ddd;
                font-weight:300;
                text-decoration:underline;
                display: inherit;

            }

            .alert{

                background: $red;
                border-color: $red;
                color:$white;
                margin-bottom: 25px;

            }


            .btn{

                &.bg-w{

                    background-color:$white;
                    color:$blue;
                    text-align:left;

                    &:hover{

                        background-color: darken($white, 20%);
                        color: lighten($blue, 20%);

                    }

                }

            }

            .icon-in{

                padding-right: 20px;
                background-position-y: calc(50% - 0px);
                background-position-x: calc(100% - 10px);
                background-repeat:no-repeat;
                background-size: 20px;

                &.icon-user{

                    background-image:url("/assets/images/user-icon.svg");

                }

                &.icon-psw{

                    background-image:url("/assets/images/psw-icon.svg");

                }

                &.icon-send{

                    background-image:url("/assets/images/send-icon.svg");

                }

            }

        }

        .bg-semelle{

            background:url("/assets/images/semelle-login.jpg")no-repeat center;
            background-size:cover;

        }

    }

    .form-group {
        
        input::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: rgba(255, 255, 255, 0.6) !important;
        }

        input:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.6) !important;
        }
    }

    .form-content {
        padding: 40px 0;
    }

}
