/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "menu/sidebar";

$color-neutre: #3c6382;
$color-add: #099992;
$color-grey: #484848;
$color-grey-bis: #444444;
$color-grey-tris: #3A607E;
$color-orange: #E68E27;
$color-red: #B71441;
$color-blue: #60A3BC;
$color-blue-azur: #1E7FCB;

@media print {
    .breadcrumb {
        display: none !important;
    }
}
.main-container {
    .add-new, .page-header {
        display: inline-block;
        width: 50%;
    }
    .add-new {
        text-align: right;
    }
}

.btn.disabled, .btn:disabled{

    opacity: .35 !important;

}

.btn.btn-primary{
    background:$color-grey;
    border-color:$color-grey;
    margin-left:10px;

    &:hover{
        background: darken($color-grey, 10%);
        border-color: $color-grey;
    }
}
.btn.btn-success{
    background:$color-add;
    border-color:$color-add;

    &:hover{
        background: darken($color-add, 10%);
        border-color: $color-add;
    }
}
table{
    .btn.btn-primary{
        margin-left:0px
    }

    .btn{

        padding: .15rem .4rem;
        border:0;

        &.btn-info{

            background: $color-add;

            &:hover{
                background-color:darken($color-add,10%);
            }

        }

        &.btn-danger{

            background: $color-red;

            &:hover{
                background-color:darken($color-red,10%);
            }

        }

    }
}

.breadcrumb{

    a{

        color:$color-neutre !important;

    }

}

.add-new{

    .btn{

        background-color:$color-add;
        padding: 10px 25px;
        margin-bottom: 10px;
        font-weight:700;
        font-size: 1em;

    }

}


.changecardstatut{

    width: 115px;
    text-align: left !important;
    border:0 !important;

}

.btn-fiche{

    color:$white;

    &.edit{

        background: $color-add;

        &:hover{
            background-color:darken($color-add,10%);
        }

    }

    &.pdf{

        background: $color-grey-bis;
        color: white;

        &:hover{
            color: white;
            background-color:darken($color-grey-bis,10%);
        }

    }

    &.delete{

        background: $color-red;

        &:hover{
            background-color:darken($color-red,10%);
        }

    }

    &.report{

        background: $color-orange;

        &:hover{
            background-color:darken($color-orange,10%);
        }

    }

}

.bg-grey .card{

    background-color:$color-grey;

}

.bg-grey-bis .card{

    background-color:$color-grey-tris;

}

.bg-add .card{

    background-color:$color-add;

}

.bg-blue .card{

    background-color:$color-blue;

}

.tableau-fiches{

    table{

        &.table{

            tr{

                th{

                    &:last-child{

                        width:365px !important;

                    }

                }

            }

        }

    }

}

.changecardstatut{

    width: 170px;

    .fa{

        font-size: .8rem;

    }

    span{

        font-size: .9rem;

    }
}

.red {
    color: red;
}

.green {
    color: green;
}

.semelle_normal{
    .tooltip.show{
        opacity: 1;
        &.bs-tooltip-right .arrow::before,&.bs-tooltip-left .arrow::before{
            border-right-color: #34363F;
            border-left-color: #34363F;
        }
    }
    .tooltip-inner{
        max-width: 500px;
        background: #34363F;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
        padding: 0;
    }
}

// PODS
.col-pods{
    .btn{
        width: 100%;
        padding: 15px;
        background: #3D9651;
        color: #fff;
        font-weight: bold;
        font-size: 21px;
        text-align: center;
        display: block;
        &:hover{
            color: #fff;
            background: darken(#3D9651, 10%);
        }
        &.btn-light{
            font-size: 18px;
            padding: 15px;
            font-weight: 300;
            color: #6E757D;
            background: transparent;
            border:0;
            &:hover{
                background: #F6F6F6;
            }
        }
    }
    .col-pods-calc{
        padding: 15px 5px 5px;
        background:#F6F6F6;
        h2{
            text-align: center;
            margin-bottom: 25px;
        }
        .pods-list{
            padding-left: 25px;
            padding-right:15px;
            li{
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #DADADA;
                &.pods-finition{
                    border-bottom:1px solid #BFBFBF;
                }
                &.pods-total{
                    border-bottom: 0;
                    padding-bottom:0;
                    margin-top: 30px;
                    .type-pods{
                        font-size: 21px;
                        color: #5B5E63;
                    }
                    .pods-price{
                        font-size: 24px;
                    }
                }
            }
        }
        .pods-price{
            text-align: right;
            font-weight: bold;
            color:#3D486C;
        }
        .a-right{
            text-align: right;
        }
        .type-pods{
            font-size: 14px;
            color: #5B5E63;
        }
    }
}

@media screen and (max-width:1255px){

    .changecardstatut{

        margin-top:10px;

    }

}

//>>>> rapport <<<<<<<<<
.rapport_email_block{
    border: 1px solid black;
    padding: 0px 15px;
    margin: 10px 0px;
}
.rapport_action_button_block{
    float: right;
    .btn{
        margin-right: 5px;
    }
}

.rapport_bilan_morphologique_block{
    border: 1px solid black;
    padding: 0px 15px;
    margin: 10px 0px;
}

.clone {
    background-color: $color-blue-azur !important;
}

.clone:hover {
    background-color:darken($color-blue-azur,10%) !important;
}
//######################

@media screen and (max-width:1024px){

    #datatable_wrapper{

        overflow-x:scroll;

    }

}

@media screen and (max-width: 768px) {

    label.control-label {
        font-size: 0.85rem;
    }

    h1 {
        font-size: 2rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }

}

.pointer {
    cursor: pointer;
}
