<div [@routerTransition]>
    <h2 class="text-muted">{{'Dashboard' | translate}}</h2>
    <hr>
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <div class="row" >
        <div class="card card-default" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1 || userRoles.indexOf('ROLE_CAD') !== -1 || userRoles.indexOf('ROLE_CAM') !== -1">
            <div class="card-header">
                {{'Admin access' | translate}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-3" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1">
                        <app-stat class="bg-grey" routerLink="/users" [icon]="'fa-users'" [count]="totalUserActive" [label]="'actives users'"></app-stat>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1">
                        <app-stat class="bg-add" [queryParams]="{status:1}" [routerLink]="['/cards']" [icon]="'fa-folder-open'" [count]="totalCardNotClosed" [label]="'Cards Not closed'"></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1 || userRoles.indexOf('ROLE_CAD') !== -1">
                        <app-stat class="bg-add" [queryParams]="{status:2}" [routerLink]="['/cards']" [icon]="'fa-folder'" [count]="totalCardClosed" [label]="'Cards Closed'"></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1 || userRoles.indexOf('ROLE_CAM') !== -1">
                        <app-stat class="bg-grey-bis" [queryParams]="{status:3}" [routerLink]="['/cards']" [icon]="'fa-tasks'" [count]="totalCardCad" [label]="'Cards CAD'" ></app-stat>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1 || userRoles.indexOf('ROLE_CAM') !== -1">
                        <app-stat class="bg-grey-bis" [queryParams]="{status:6}" [routerLink]="['/cards']" [icon]="'fa-tasks'" [count]="totalCardCam" [label]="'Cards CAM'" ></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1">
                        <app-stat class="bg-blue" [queryParams]="{status:4}" [routerLink]="['/cards']" [icon]="'fa-send'" [count]="totalCardSended" [label]="'Cards Sended'"></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1">
                        <app-stat class="bg-blue" [queryParams]="{status:5}" [routerLink]="['/cards']" [icon]="'fa-credit-card'" [count]="totalCardBilling" [label]="'Cards Billing'"></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1">
                        <app-stat
                            class="bg-grey-bis"
                            [queryParams]=""
                            [routerLink]="['/manage-pods']"
                            [icon]="'fa-money'"
                            [label]="'pods_management'"
                            >
                        </app-stat>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-header">
                {{'Personal access' | translate}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                        <app-stat class="bg-add" [queryParams]="{status:1}" [routerLink]="['/users/cards']" [icon]="'fa-folder-open'" [count]="totalUsersCardNotClosed" [label]="'Cards Not closed'" ></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3">
                        <app-stat class="bg-add" [queryParams]="{status:2}" [routerLink]="['/users/cards']" [icon]="'fa-folder'" [count]="totalUsersCardClosed" [label]="'Cards Closed'" ></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3">
                        <app-stat class="bg-grey-bis" [queryParams]="{status:3}" [routerLink]="['/users/cards']" [icon]="'fa-tasks'" [count]="totalUsersCardCad" [label]="'Cards CAD'" ></app-stat>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                        <app-stat class="bg-grey-bis" [queryParams]="{status:6}" [routerLink]="['/users/cards']" [icon]="'fa-tasks'" [count]="totalUsersCardCam" [label]="'Cards CAM'"></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3">
                        <app-stat class="bg-blue" [queryParams]="{status:4}" [routerLink]="['/users/cards']" [icon]="'fa-send'" [count]="totalUsersCardSended" [label]="'Cards Sended'"></app-stat>
                    </div>
                    <div class="col-sm-6  col-md-4 col-lg-4 col-xl-3">
                        <app-stat class="bg-blue" [queryParams]="{status:5}" [routerLink]="['/users/cards']" [icon]="'fa-credit-card'" [count]="totalUsersCardBilling" [label]="'Cards Billing'"></app-stat>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
