<div class="container">
  <h1 *ngIf="idUsersFiles === undefined">{{ 'Add usersFiles' | translate }}</h1>
  <h1 *ngIf="idUsersFiles !== undefined">{{ 'Edit usersFiles' | translate }} - {{ nameUsersFiles }}</h1>
  <div *ngIf="status === 'error'" role="alert" class="alert alert-danger alert-dismissible">
    <button aria-label="Close" class="close ng-star-inserted" type="button"><span aria-hidden="true">×</span></button>
    {{ 'ERROR: Elements not created'| translate }}
  </div>
  <form #usersFilesForm="ngForm" (ngSubmit)="gestionUsersFiles(idUsersFiles)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="usersFilesModel.name" value="{{ nameUsersFiles }}" name="name">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!usersFilesForm.form.valid">{{ 'Submit' | translate }}</button>

  </form>
</div>

