<ng-template #tipContent>
    <div class="tool_cont">
        <img src={{img}} />
        <p  [className]="img ? 'txt_img' : ''">{{ contentText | translate}}</p>
    </div>
</ng-template>
<i class="fa fa-fw fa-info-circle" placement=right [ngbTooltip]="tipContent"></i>
