.tool_cont{
    padding: 15px;
    text-align: left;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    align-self: center;
    p{
        margin-bottom:0;
         &.txt_img{
            margin-top: 15px;
        }
    }
   
    img{
        max-width: 100%;
        width: auto;
    }
}