<div class="container">
  <h2>{{ 'balance_history' | translate }}</h2>
  <app-datatable
    [model]="'balance-history/all'"
    [heading]="heading"
    [baseUrl]="baseURl"
    [filter]="formatDate.bind(this)"
    >
  </app-datatable>
</div>
