<div class="container-fluid">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
      <app-page-header [heading]="'All Users'" [link_new]="'users/add'" [icon]="'fa-table'"></app-page-header>
      <app-datatable [model]="'users'" [heading]="heading" [baseUrl]="baseURl" [actions]="actions"></app-datatable>
</div>