<h2>{{ 'link_podo_cad' | translate }}</h2>
<h3 *ngIf="!isLoading">ID: {{ card.card_id }}</h3>
<div class="alert alert-danger" role="alert" *ngIf="hasError">
    {{ 'error server' | translate }}
</div>
<div class="alert alert-primary" role="alert" *ngIf="success">
    {{ 'Item edited with success' | translate }}
</div>
<div class="loader" *ngIf="isLoading"></div>
<div *ngIf="!isLoading">
    <select [(ngModel)]="selectedHash" class="form-control">
        <option disabled [value]="null">{{ 'Choisir' | translate }}</option>
        <option *ngFor="let cad of cads;" [value]="cad.hash">
            {{ cad.firstname }} {{ cad.lastname }}
        </option>
    </select>
    <button class="btn btn-info" (click)="link()">
        <div class="tinyloader" *ngIf="isLinkLoading"></div>
        <span *ngIf="!isLinkLoading">{{ 'save' | translate }}</span>
    </button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">
        {{ 'Back' | translate }}
    </button>
</div>