<div class="container">
  <h1 *ngIf="id !== undefined">{{ 'Edit shoesmodels' | translate }} - {{ shoesmodels.name | translate }}</h1>
  <form #shoesmodelsForm="ngForm" (ngSubmit)="edit()">
    <div class="form-group">
      <label for="price">{{ 'price' | translate }}</label>
      <input type="number" class="form-control" id="name" required [(ngModel)]="shoesmodels.price" name="price">
    </div>
    <div class="col-md-12 pt-2">
      <p>{{ 'displayed_translation' | translate }}: {{ shoesmodels.name | translate }}</p>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!shoesmodelsForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

