<div class="container-fluid">
      <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
      <app-page-header [heading]="'All Cards'" [icon]="'fa-table'"></app-page-header>

      <div class="row">
            <div class="form-group">
                  <div class="input-group select-good">
                        <label>{{'sort by status' | translate}}</label>
                        <select [(ngModel)]="filterStatus" name="filterStatus" id="filterStatus" (change)="filterCardByStatus()">
                              <option value="">{{ 'all' | translate }}</option>
                              <option *ngFor="let c of status" [ngValue]="c.id">{{c.name | translate}}</option>
                        </select>
                  </div>
            </div>
            <div class="form-group" *ngIf="isStatus(3)">
                  <button type="button" class="btn btn-primary" (click)="downloadDesignFiles()">
                        <span *ngIf="!isDownloading">
                              {{ 'Download design files' | translate }}
                        </span>
                        <span *ngIf="isDownloading">
                              {{'Server work' | translate}}
                        </span>
                  </button>
            </div>
      </div>
      <app-modal-undo *ngIf="isAuthorized()"></app-modal-undo>
      <app-datatable [model]="'cards'" [heading]="heading" [baseUrl]="baseURl" [actions]="actions" [order]="order" class="tableau-fiches" ></app-datatable>
      <app-update-status-modal [status]="status" *ngIf="_updateStatusModalService.shouldDisplay">
      </app-update-status-modal>
</div>