<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idFlangesColor === undefined">{{ 'Add flangesColor' | translate }}</h1>
  <h1 *ngIf="idFlangesColor !== undefined">{{ 'Edit flangesColor' | translate }} - {{ flangesColor.name | translate }}</h1>
  <form #flangesColorForm="ngForm" (ngSubmit)="gestionFlangesColor(flangesColor)">
    <div class="form-group row">
      <div class="col-md-6">
        <label for="name">{{ 'Name' | translate }}</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="flangesColor.name" name="name">
      </div>
      <div class="col-md-6">
        <label for="activated">{{ 'Activated' | translate }}</label><br />
        <ui-switch
          id="activated"
          name="activated"
          [(ngModel)]="flangesColor.activated"
          checkedLabel="{{ 'Yes' | translate }}"
          uncheckedLabel="{{ 'No' | translate }}"
          >
        </ui-switch>
      </div>
      <div class="col-md-12 pt-2">
        <p>{{ 'displayed_translation' | translate }}: {{ flangesColor.name | translate }}</p>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!flangesColorForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete flangesColor' | translate }} - {{ flangesColor.name }}</h1>
  <form #flangesColorForm="ngForm" (ngSubmit)="delete(idFlangesColor)">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ flangesColor.name }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

