<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="hashReport === undefined">{{ 'Add report' | translate }}</h1>
  <h1 *ngIf="hashReport !== undefined">{{ 'Edit report' | translate }}: {{ report.card_id }}</h1>
  <form #reportForm="ngForm" (ngSubmit)="gestionReport(report)">
    <div style="height: 80px;">
      <div style="height: 40px;">
        <div class="rapport_action_button_block">
          <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>
          <button type="button" class="btn btn-success" (click)="save()" [disabled]="!reportForm.form.valid">{{ 'Save' | translate }}</button>
          <button type="button" class="btn btn-danger" (click)="save(true)">{{ 'Generate report' | translate }}</button>
          <button type="button" class="btn btn-danger" (click)="save(false, true)">{{ 'Send Mail' | translate }}</button>
        </div>
      </div>
    </div>

    <div class="rapport_email_block" *ngIf="statusText">
      <p>{{statusText}}</p>
    </div>

    <div class="rapport_email_block">
      <h2>{{ 'General informations' | translate }}</h2>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="card_report_email_patient">{{ 'Email patient' | translate }}</label>
          <input type="text" class="form-control" id="card_report_email_patient" [(ngModel)]="report.card_report_email_patient" name="card_report_email_patient">
        </div>
        <div class="col-md-6">
          <label for="card_report_email_doctor">{{ 'Email du docteur' | translate }}</label>
          <input type="text" class="form-control" id="card_report_email_doctor" [(ngModel)]="report.card_report_email_doctor" name="card_report_email_doctor">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <label for="card_report_email_kine">{{ 'email_kine' | translate }}</label>
          <input type="email" class="form-control" id="card_report_email_kine" [(ngModel)]="report.card_report_email_kine" name="card_report_email_kine">
        </div>
        <div class="col-md-6">
          <label for="card_report_email_osteo">{{ 'email_osteo' | translate }}</label>
          <input type="email" class="form-control" id="card_report_email_osteo" [(ngModel)]="report.card_report_email_osteo" name="card_report_email_osteo">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <label for="card_report_email_other">{{ 'Email autre' | translate }}</label>
          <input type="email" class="form-control" id="card_report_email_other" [(ngModel)]="report.card_report_email_other" name="card_report_email_other">
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
    <div class="form-group">
        <div>
          <label class="" for="anamnesis">{{ 'Anamnèse' | translate }}</label>
        </div>
        <div class="">
          <textarea class="" id="anamnesis" name="anamnesis" placeholder="{{ 'Anamnèse' | translate }}" [(ngModel)]="report.anamnesis" style="width: 100%; max-width: 100%; min-width: 100%; min-height: 100px;"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div style="padding-bottom: 5px;">
          <label class="inline" for="conclusion">{{ 'Conclusion' | translate }}:</label> <app-modal-conclusion [type]="'conclusions'"></app-modal-conclusion>
        </div>
        <div class="">
          <textarea class="" id="conclusion" name="conclusion" placeholder="{{ 'Conclusion' | translate }}" [(ngModel)]="report.conclusion" style="width: 100%; max-width: 100%; min-width: 100%; min-height: 100px;"></textarea>
        </div>
    </div>
    <div class="form-group">
      <!-- <div style="">
        <label class="inline" for="conclusion">{{ 'Analyse videos' | translate }}:</label>
      </div>
      <div style="border: 1px solid black; min-height: 200px; width: 100%;">
          <table style="width: 100%">
            <tr *ngFor="let element of listFiles; let i = index;">
              <td style="width: 10%; text-align: center;"><input type="checkbox" name="cards_reports_files_videos_enabled_{{i+1}}" [(ngModel)]="element.cards_reports_files_videos_enabled"/></td>
             <td style="width: 20%; text-align: center;"><img src="#"/></td>--><!--
              <td style="width: 30%; text-align: center;"><span style="cursor:pointer; color:blue; text-decoration:underline;" (click)="download(element.files_hash, element.files_name)" >{{element.files_name}}</span> ({{(element.files_size / 1000000) | number:0}} {{'MB' | translate}})</td>
              <td style="width: 40%;"><label for="cards_reports_files_note_videos_{{i+1}}" style="margin-right: 5px;">{{'Remarque' | translate}}:</label> <input  [disabled]="!element.cards_reports_files_videos_enabled" type="text" id="file_note_{{i+1}}" name="cards_reports_files_note_videos_{{i+1}}" [(ngModel)]="element.cards_reports_files_note_videos"/></td>
            </tr>
          </table>
      </div> -->
    </div>
    <div class="rapport_bilan_morphologique_block">
      <h3>{{ 'Bilan morphostatique' | translate }}</h3>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="inline" for="ceint_scapul">{{ 'Ceinture scapulaire' | translate }}:</label>
          <div class="">
            <textarea class="form-control" id="ceint_scapul" name="ceint_scapul" [(ngModel)]="report.card_report_data_ceintScapul" placeholder="Ceinture scapulaire"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <label class="inline" for="bass_rachi">{{ 'Bassin-rachis' | translate }}:</label>
          <div class="">
            <textarea class="form-control" id="bass_rachi" name="bass_rachi" [(ngModel)]="report.card_report_data_bassRachi" placeholder="Bassin-rachis"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="inline" for="gen_g">{{ 'Genou gauche' | translate }}Genou gauche:</label>
          <div class="">
            <textarea class="form-control" id="gen_g" name="gen_g" [(ngModel)]="report.card_report_data_genG" placeholder="Genou gauche"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <label class="inline" for="gen_d">{{ 'Genou droit' | translate }}:</label>
          <div class="">
            <textarea class="form-control" id="gen_d" name="gen_d" [(ngModel)]="report.card_report_data_genD" placeholder="Genou droit"></textarea>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6">
          <label class="inline" for="pied_che_g">{{ 'Pied-cheville gauche' | translate }}:</label>
          <div class="">
            <textarea class="form-control" id="pied_che_g" name="pied_che_g" [(ngModel)]="report.card_report_data_piedCheG" placeholder="Pied-cheville gauche"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <label class="inline" for="pied_che_d">{{ 'Pied-cheville droit' | translate }}:</label>
          <div class="">
            <textarea class="form-control" id="pied_che_d" name="pied_che_d" [(ngModel)]="report.card_report_data_piedCheD" placeholder="Pied-cheville droit"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <!-- <app-modal-file hashCard="hash"></app-modal-file>
      <div>-->
        <!-- <label class="inline" for="conclusion">{{ 'Selection des fichiers' | translate }}:</label>
      </div>
      <div style="border: 1px solid black; min-height: 200px; width: 100%;">
        <table style="width: 100%">
          <tr *ngFor="let element of listFiles; let i = index;">
            <td style="width: 10%; text-align: center;"><input type="checkbox" name="cards_reports_files_fichiers_enabled_{{i+1}}" [(ngModel)]="element.cards_reports_files_files_enabled" /></td>
            <td style="width: 20%; text-align: center;"><img src="#"/></td>--><!--
            <td style="width: 30%; text-align: center;"><span style="cursor:pointer; color:blue; text-decoration:underline;" (click)="download(element.files_hash, element.files_name)" >{{element.files_name}}</span> ({{(element.files_size / 1000000) | number:0}} {{'MB' | translate}})</td>
            <td style="width: 40%;"><label for="cards_reports_files_note_files{{i+1}}" style="margin-right: 5px;">{{'Remarque' | translate}}:</label> <input [disabled]="!element.cards_reports_files_files_enabled" type="text" id="file_note_{{i+1}}" name="cards_reports_files_note_files_{{i+1}}" [(ngModel)]="element.cards_reports_files_note_files"/></td>
          </tr>
        </table>
      </div> -->
    </div>
    <div class="form-group">
      <div style="padding-bottom: 5px;">
        <label class="inline" for="greetings">{{ 'Phrase de remerciement' | translate }}:</label> <app-modal-conclusion [type]="'greetings'"></app-modal-conclusion>
      </div>
      <div class="">
        <textarea class="" id="greetings" name="greetings" placeholder="{{ 'Phrase de remerciement' | translate }}" [(ngModel)]="report.greetings" style="width: 100%; max-width: 100%; min-width: 100%; min-height: 100px;"></textarea>
      </div>
    </div>
  </form>
</div>

<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete report' | translate }} - {{ report.firstname }} {{ report.lastname }}</h1>
  <form #materialForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ report.firstname }} {{ report.lastname }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

