.navbar-toggler-sidebar{
  padding: 20px 12px !important;
}

.sidebar{
  .list-group-item{
    border-bottom: 2px solid gray !important;
  }

  a.router-link-active{
    background: #00BFFF !important;
    border-bottom: 2px solid #00BFFF !important;
  }
}

@media screen and (min-width: 992px){
  .sidebar_short{
    width: 60px !important;
    margin-left: 0px !important;
    left: 0px !important;

    .list-group-item-text{
      display: none;
    }
  }

  .main-container_large{
    margin-left: 60px !important;
  }
}


@media screen and (max-width: 992px){
  .navbar-toggler-sidebar{
    display: none;
  }

}