<div *ngIf="!deleteAction" class="container" style="padding-bottom: 300px;">
  <h1 *ngIf="hashPatient === undefined">{{ 'Add patient' | translate }}</h1>
  <h1 *ngIf="hashPatient !== undefined">{{ 'Edit patient' | translate }} - {{ patient.lastname }} {{ patient.firstname }}</h1>
  <form #patientForm="ngForm" autocomplete="off" (ngSubmit)="gestionPatient(patient)">
      <h2>{{ 'General informations' | translate }}</h2>
      <div class="form-group row">
        <div class="col-md-6">
          <label for="lastname">{{ 'Lastname' | translate }}</label>
          <input type="text" class="form-control" id="lastname" required [(ngModel)]="patient.lastname" name="lastname">
        </div>
        <div class="col-md-6">
          <label for="firstname">{{ 'Firstname' | translate }}</label>
          <input type="text" class="form-control" id="firstname" required [(ngModel)]="patient.firstname" name="firstname">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="email">{{ 'Email' | translate }}</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="patient.email" name="email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-6" *ngIf="userService.birthdate">
          <label for="datePickerField">{{ 'Birth date' | translate }}</label>
          <input type="date" class="form-control" [required] ="userService.isBirthdateMandatory" [(ngModel)]="patient.birthdate" id="datePickerField" name="datePickerField" />
          <!-- <ngbd-datepicker-popup [required]="userService.isBirthdateMandatory" [model]="patient.birthdate" (changeDate)="changeDate($event)"></ngbd-datepicker-popup> -->
        </div>
        <div class="col-md-6">
          <label for="genre">{{ 'Gender' | translate }}</label>
          <select required="required" class="form-control" id="genre" [(ngModel)]="patient.gender" name="genre">
            <option value="Man">{{ 'Man' | translate }}</option>
            <option value="Woman">{{ 'Woman' | translate }}</option>
            <option value="Child">{{ 'Child' | translate }}</option>
            <option value="Other">{{ 'Other' | translate }}</option>
          </select>
        </div>
      </div>

    <button type="submit" class="btn btn-success" [disabled]="!patientForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete user' | translate }} - {{ patient.lastname }} {{ patient.firstname }}</h1>
  <form #materialForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ patient.lastname }} {{ patient.firstname }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

