<div class="row">
    <a
        class="btn btn-primary"
        style="color: #ffffff; white-space: normal;"
        (click)="open(content)"
        >
        {{ 'duplicate_left_to_right' | translate }}
    </a>
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h2 class="modal-title">{{ 'confirm' | translate }}</h2>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{ 'confirm_duplicate' | translate }}</p>
                <div *ngIf="changedFields.length > 0" id="confirm_duplicate_footer">
                        <div>
                            <p style="color:red;" class="text-error hide confirm_duplicate_footer_already_modif">
                                {{ 'careful_fields_already_updated' | translate }}
                            </p>
                        </div>
                        <div class="confirm_duplicate_footer_field_change">
                            <ul>
                                <li *ngFor="let field of changedFields">{{ field }}</li>
                            </ul>
                        </div>
                </div>
            </div>
        <div class="modal-footer">
            <a
                *ngIf="changedFields.length == 0"
                style="color: #ffffff;"
                class="btn btn-danger duplicate_foots"
                (click)="copyLeftToRight();c('Close click');"
                >
                {{ 'duplicate' | translate }}
            </a>
            <a
                *ngIf="changedFields.length > 0"
                style="color: #ffffff;"
                class="btn btn-danger duplicate_foots_without_crushing"
                (click)="copyLeftToRight();c('Close click');"
                >
                {{ 'duplicate_without_erase' | translate }}
            </a>
            <a
                *ngIf="changedFields.length > 0"
                style="color: #ffffff;"
                class="btn btn-danger duplicate_foots_bis"
                (click)="copyLeftToRightCrushing();c('Close click');"
                >
                {{ 'duplicate_and_erase' | translate }}
            </a>
            <a type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close'| translate}}</a>
        </div>
    </ng-template>
</div>
