.card{
  margin: 5px;
  cursor: pointer;
  .card-header{
    .card-header-icon{
      padding: 0px 2px;
    }

    .card-header-text{
      padding: 0px 2px;
    }
  }

  .card-footer{
      padding: 0.25rem 1.25rem;
  }

  a{
    color: white;
  }
}