<app-header></app-header>
<app-sidebar></app-sidebar>
<section class="main-container">
    <app-messages></app-messages>
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <router-outlet></router-outlet>
</section>
