<div class="login-page container-fluid" [@routerTransition]>

    <div class="row">

        <div class="col-md-6">

            <div class="login-box">

                <img src="assets/images/logo-gespodo.svg" class="logo-login" />

                <div>
                    <p [routerLink]="['/login']" class="returnlink">
                        <i class="fa fa-arrow-circle-left"></i> {{'return to the home page' | translate}}
                    </p>
                </div>

                <form role="form">
                    <div class="form-content">
                        <div class="form-group">

                            <div class="form-group">
                                    <input type="email" [(ngModel)]="email" [required]="true" name="email" required class="form-control input-underline input-lg icon-in icon-user" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                    <input type="button" class="btn rounded-btn btn-block btn-lg bg-w icon-in icon-send" (click)="sendMail()" value="{{'Send' | translate}}">
                            </div>
                            <div>
                                <div *ngIf="emailsend" class="alert alert-info col-sm-12" role="alert"><span>{{'Email send' | translate}}</span></div>
                                <div *ngIf="error" class="alert alert-danger col-sm-12" role="alert"><span>{{'an_error_occured_try_later' | translate}}</span></div>
                            </div>
                        </div>
                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-6 bg-semelle d-none d-md-block">

        </div>

    </div>
</div>
