<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idShipping === undefined">{{ 'Add shipping' | translate }}</h1>
  <h1 *ngIf="idShipping !== undefined">{{ 'Edit shipping' | translate }} - {{ shipping.name | translate }}</h1>
  <form #shippingForm="ngForm" (ngSubmit)="gestionShipping(shipping)">
    <div class="form-group row">
      <div class="col-md-4">
        <label for="name">{{ 'Name' | translate }}</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="shipping.name" name="name">
      </div>
      <div class="col-md-4">
        <label for="price">{{ 'price' | translate }}</label>
        <input type="number" class="form-control" id="price" required [(ngModel)]="shipping.price" name="price">
      </div>
      <div class="col-md-4">
        <label for="activated">{{ 'Activated' | translate }}</label><br />
        <ui-switch
          id="activated" name="activated"
          [(ngModel)]="shipping.is_active"
          checkedLabel="{{ 'Yes' | translate }}"
          uncheckedLabel="{{ 'No' | translate }}"
          ></ui-switch>
      </div>
      <div class="col-md-12 pt-2">
        <p>{{ 'displayed_translation' | translate }}: {{ shipping.name | translate }}</p>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!shippingForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete shipping' | translate }} - {{ shipping.name }}</h1>
  <form #shippingForm="ngForm" (ngSubmit)="delete(idShipping)">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ shipping.name }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

