// shared css for the login and signup page
//@import "../login/login.component.scss";


body {
  background: #dedede;
}

.page-wrap {
  min-height: 100vh;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442;
}

.list-scan {
  li {
    list-style-type: none;
    margin-bottom: 15px;
  }
}

.qrcode img {
  margin: 0 auto;
}

.head-connected {
  margin-bottom: 50px;
}

.fullText {
  text-align: left;
}

.demo-page {
  background-color: #061328;
  color: #ffffff;

  .logo-demo{
    max-width: 400px;
    width: 100%;
    margin-bottom: 25px;
  }
}

