<div class="demo-page page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="login-page">
            <div class="row justify-content-md-center">
                <div>
                    <div class="{{'alert-' + alertType}}"  *ngIf="alert !== ''">
                        <span>{{alert}}</span>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <img src="assets/images/logo-gespodo.svg" class="logo-demo"/>
                    <div *ngIf="!hash">
                        <p>
                            Nous n'avons pas reçus vos identifiants.
                        </p>
                    </div>
                    <form *ngIf="hash" #qualifForm="ngForm" (ngSubmit)="qualification()">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="company">Nom du cabinet ou de la Société</label>
                                <input type="text" class="form-control" id="company" required [(ngModel)]="qualifModel.company"
                                       name="company">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="maturity">Quel est votre maturité par rapport aux technologies 3D pour la réalisation de vos semelles</label>
                                <select class="form-control" id="maturity" [(ngModel)]="qualifModel.maturity" name="maturity" required>
                                    <option value="Je suis client GESPODO">Je suis client GESPODO</option>
                                    <option value="Je travaille avec un solution 3D concurrente">Je travaille avec un solution 3D concurrente</option>
                                    <option value="J’envisage de tester le 3D dans les prochaines semaines">J’envisage de tester le 3D dans les prochaines semaines</option>
                                    <option value="J’envisage de tester le 3D dans les prochains mois">J’envisage de tester le 3D dans les prochains mois</option>
                                    <option value="J’ai testé le 3D et j’ai été déçu">J’ai testé le 3D et j’ai été déçu</option>
                                    <option value="Je n’envisage pas de tester prochainement, je suis juste curieux(se)">Je n’envisage pas de tester prochainement, je suis juste curieux(se)</option>
                                    <option value="Je n’ai pas d’intérêt par rapport au 3D">Je n’ai pas d’intérêt par rapport au 3D</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="externalisation">Envisagez-vous d’externaliser la conception et/ou la fabrication de vos semelles ?</label>
                                <select class="form-control" id="externalisation" [(ngModel)]="qualifModel.externalisation" name="job" required>
                                    <option value="oui">Oui</option>
                                    <option value="non">Non</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="paire">Nombre de paires de semelles / mois en moyenne sur l’année</label>
                                <select class="form-control" id="paire" [(ngModel)]="qualifModel.nb_semelle" name="paire" required>
                                    <option value="<15"><15</option>
                                    <option value="15-30">15-30</option>
                                    <option value="31- 50">31- 50</option>
                                    <option value="50-80">50-80</option>
                                    <option value="+80 paires">+80 paires</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label for="profil">Profil vous correspondant le mieux :</label>
                                    <select class="form-control" id="profil" [(ngModel)]="qualifModel.profil" name="profil" required>
                                        <option value="Jeune diplomé">Jeune diplomé</option>
                                        <option value="Je suis débordé">Je suis débordé</option>
                                        <option value="Je me pose des questions sur ma profession">Je me pose des questions sur ma profession</option>
                                        <option value="Autres">Autres</option>
                                    </select>
                                </div>
                                <div *ngIf="qualifModel.profil == 'Autres'" style="margin-top: 3px;">
                                    <input type="text" class="form-control" id="jobalter" [(ngModel)]="qualifModel.profilAlter" name="jobAlter" placeholder="Autre Profile" [required]="qualifModel.profil == 'Autres'">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="freetext">Quelques explications par rapport à votre demande</label>
                                <textarea id="freetext" class="form-control" [(ngModel)]="qualifModel.freetext" name="freetext"></textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success" [disabled]="!qualifForm.form.valid">Envoyer
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
