.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tinyloader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

h2 {
    margin-bottom: 40px;
}

form {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.p10 {
    padding: 10px;
}

.radio-section {
    text-align: center;
    padding-top: 30px;
}

button {
    margin-top: 40px;
    background-color: #419792;
    font-size: 24px;
    width: 100%;
    padding: 10px;
}