<div class="loader" *ngIf="isLoading"></div>
<div *ngIf="!isLoading">
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
    {{ errorMessage | translate }}
  </div>
  <h2>{{ 'pods_management' | translate }}</h2>
  <form class="form-group row" #managePodsForm="ngForm" (ngSubmit)="validate()">
    <div class="p10 col-md-12">
      <label for="podiatrist">{{ 'select_podiatrist' | translate }}*</label>
      <ng-select
        [items]="podiatrists"
        class="ng-select"
        required
        [(ngModel)]="selectedPodiatristHash"
        bindLabel="name"
        bindValue="hash"
        [ngModelOptions]="{standalone: true}"
      ></ng-select>
    </div>
    <div class="p10 col-md-6">
      <label for="amount">{{ 'amount' | translate }}*</label>
      <input required type="number" id="amount" name="amount" class="form-control" [(ngModel)]="amount" />
    </div>
    <div class="p10 col-md-6 radio-section">
      <input type="radio" [value]="false" name="isAmountNegative" required [(ngModel)]="isAmountNegative">
      {{ 'increase_pods' | translate }}
      <br />
      <input type="radio" [value]="true" name="isAmountNegative" required [(ngModel)]="isAmountNegative">
      {{ 'decrease_pods' | translate }}
      <br />
    </div>
    <div class="p10 col-md-12">
      <label for="bill">{{ 'bill_number' | translate }}</label>
      <input type="text" id="bill" name="bill" class="form-control" [(ngModel)]="bill" />
    </div>
    <div class="p10 col-md-12">
      <label for="other">{{ 'comment' | translate }}</label>
      <textarea id="other" name="other" class="form-control" [(ngModel)]="other">
      </textarea>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!managePodsForm.form.valid">
      <span *ngIf="!isSubmitLoading">{{ 'Submit' | translate }}</span>
      <div class="tinyloader" *ngIf="isSubmitLoading"></div>
    </button>
  </form>
</div>
