<div class="container">
  <h1 *ngIf="idFile === undefined">{{ 'Add file' | translate }}</h1>
  <h1 *ngIf="idFile !== undefined">{{ 'Edit file' | translate }} - {{ nameFile }}</h1>
  <div *ngIf="status === 'error'" role="alert" class="alert alert-danger alert-dismissible">
    <button aria-label="Close" class="close ng-star-inserted" type="button"><span aria-hidden="true">×</span></button>
    {{ 'ERROR: Elements not created'| translate }}
  </div>
  <form #fileForm="ngForm" (ngSubmit)="gestionFile(idFile)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="fileModel.name" value="{{ nameFile }}" name="name">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!fileForm.form.valid">{{ 'Submit' | translate }}</button>

  </form>
</div>

