<div class="row">
    <span class="btn btn-link" (click)="open(content)">{{ 'Create new patientModal' | translate }}</span>
    <ng-template #content let-c="close" let-d="dismiss">
        <form #patientModalForm="ngForm" autocomplete="off" (ngSubmit)="gestionPatient(patientModal)">
        <div class="modal-header">
            <h2 class="modal-title">{{ 'Create new patientModal' | translate }}</h2>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <h2>{{ 'General informations' | translate }}</h2>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="lastname">{{ 'Lastname' | translate }}</label>
                        <input type="text" class="form-control" id="lastname" required [(ngModel)]="patientModal.lastname" name="lastname">
                    </div>
                    <div class="col-md-6">
                        <label for="firstname">{{ 'Firstname' | translate }}</label>
                        <input type="text" class="form-control" id="firstname" required [(ngModel)]="patientModal.firstname" name="firstname">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="email">{{ 'Email' | translate }}</label>
                        <input type="email" class="form-control" id="email" [(ngModel)]="patientModal.email" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6" *ngIf="userService.birthdate">
                        <label for="datePickerField">{{ 'Birth date' | translate }}</label>
                        <input type="date" class="form-control" [required] ="userService.isBirthdateMandatory" [(ngModel)]="patientModal.birthdate" id="datePickerField" name="datePickerField" />
                        <!-- <ngbd-datepicker-popup  [model]="patientModal.birthdate"></ngbd-datepicker-popup> -->
                    </div>
                    <div class="col-md-6">
                        <label for="genre">{{ 'Gender' | translate }}</label>
                        <select required="required" class="form-control" id="genre" [(ngModel)]="patientModal.gender" name="genre">
                            <option value="Man">{{ 'Man' | translate }}</option>
                            <option value="Woman">{{ 'Woman' | translate }}</option>
                            <option value="Child">{{ 'Child' | translate }}</option>
                            <option value="Other">{{ 'Other' | translate }}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <div class="{{'alert-' + alertType}}"  *ngIf="alert !== ''">
                        <span>{{alert}}</span>
                    </div>
                </div>



        </div>
        <div class="modal-footer">
            <div style="padding: 10px;">
                <button type="submit" class="btn btn-success" [disabled]="!patientModalForm.form.valid" style="margin-right: 10px;">{{ 'Submit' | translate }}</button>
                <a type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close'| translate}}</a>
            </div>
        </div>
        </form>
    </ng-template>
</div>
