<div class="container-fluid">
  <app-page-header [heading]="'All cardsTemplates'" [link_new]="'cards/templates/add'" [icon]="'fa-table'"></app-page-header>
  <app-datatable [model]="'cardsTemplates'" [heading]="heading" [baseUrl]="baseURl" [actions]="actions"></app-datatable>
</div>
