<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idRecovery === undefined">{{ 'Add recovery' | translate }}</h1>
  <h1 *ngIf="idRecovery !== undefined">{{ 'Edit recovery' | translate }} - {{ recovery.name | translate }}</h1>
  <form #recoveryForm="ngForm" (ngSubmit)="gestionRecovery(recovery)">
    <div class="form-group row">
      <div class="col-6">
        <label for="name">{{ 'Name' | translate }}</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="recovery.name" name="name">
      </div>
      <div class="col-6">
        <label for="price">{{ 'price' | translate }}</label>
        <input type="number" class="form-control" id="name" required [(ngModel)]="recovery.price" name="price">
      </div>
    </div>
    <div class="col-md-12 pt-2">
      <p>{{ 'displayed_translation' | translate }}: {{ recovery.name | translate }}</p>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!recoveryForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete recovery' | translate }} - {{ recovery.name }}</h1>
  <form #sportForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ recovery.name }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
