<div class="container">
<h1>{{ 'Edit your profil' | translate }}</h1>
<form #userForm="ngForm" (ngSubmit)="gestionUsersProfil(user)">
    <h2>{{ 'General informations' | translate }}</h2>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="lastname">{{ 'Lastname' | translate }}</label>
            <input type="text" class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastname">
        </div>
        <div class="col-md-6">
            <label for="firstname">{{ 'Firstname' | translate }}</label>
            <input type="text" class="form-control" id="firstname" required [(ngModel)]="user.firstname"
                   name="firstname">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label for="email">{{ 'Email' | translate }}</label>
            <app-tooltip position="right" contentText="L'utilisation de cette adresse email n'est à d'autre fin que de fournir le rapport par email." img='http://localhost:4200/assets/images/logo-gespodo.svg'></app-tooltip>
            <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
        </div>
        <div class="col-md-6">
            <label for="password">{{ 'Password' | translate }}</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="user.password"
                   name="password">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            <label for="professionalTitle">{{ 'Professional title' | translate }}</label>
            <input type="text" class="form-control" id="professionalTitle" [(ngModel)]="user.professionalTitle"
                   name="professionalTitle">
        </div>
        <div class="col-md-6">
            <label for="logo">{{ 'Logo' | translate }}</label>
            <div class="row">
                <div class="col-md-2" *ngIf="user.logo">
                    <img src="{{ urlLogo }}" id="image_logo" style="height: 75px; width: 75px;">
                </div>
                <div class="col-md-8">
                    <input type="file" class="form-control" (change)="upload($event.target.files)" />
                </div>
            </div>

            <ng-container *ngIf="(percentDone > 0 && percentDone < 100)">
            {{ 'Upload Percent' | translate }}: {{percentDone}}% <br />
            </ng-container>
            <ng-container *ngIf="uploadSuccess">
                {{ 'Upload Successful' | translate }}
            </ng-container>
            <input type="hidden" class="form-control" id="logo" [(ngModel)]="user.newlogo" name="logo">
        </div>
    </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label for="website">{{ 'Website' | translate }}</label>
                <input type="text" class="form-control" id="website" [(ngModel)]="user.website" name="website">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-4">
                <label for="phoneFix">{{ 'Phone number - Fix' | translate }}</label>
                <input type="text" class="form-control" id="phoneFix" [(ngModel)]="user.phoneFix" name="phoneFix">
            </div>
            <div class="col-md-4">
                <label for="phonePortable">{{ 'Phone number - Portable' | translate }}</label>
                <input type="text" class="form-control" id="phonePortable" required [(ngModel)]="user.phonePortable"
                    name="phonePortable">
            </div>
            <div class="col-md-4">
                <label for="fax">{{ 'Fax number' | translate }}</label>
                <input type="text" class="form-control" id="fax" [(ngModel)]="user.fax" name="fax">
            </div>
        </div>

        <hr>
        <h2>{{ 'Company' | translate }}</h2>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="company">{{ 'Company name' | translate }}</label>
                <input type="text" class="form-control" id="company" [(ngModel)]="user.companies[0].name" name="company">
            </div>
            <div class="col-md-6">
                <label for="tva">{{ 'VAT' | translate }}</label>
                <input type="text" class="form-control" id="tva" [(ngModel)]="user.companies[0].tvaNumber" name="tva">
            </div>
        </div>
        <hr>
        <h2>{{ 'Pref de Livraison' | translate }}</h2>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="shipping">{{ 'Shipping' | translate }}</label>
                <select class="form-control" id="shipping" [(ngModel)]="user.shipping" required name="shipping">
                    <option value="null" disabled>Choisir</option>
                    <option *ngFor="let shipping of shippings" [value]="shipping['id']">{{ shipping['name'] | translate }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>{{ 'Shipping days' | translate }}</label><br />
                <app-day-of-the-week-selector [selectedDays]="selectedDays"></app-day-of-the-week-selector>
            </div>

        </div>
        <hr>
        <h2>{{ 'account_balance_pref' | translate }}</h2>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="alertLimit">{{ 'pods_alert_limit' | translate }}</label>
                <input
                    type="number"
                    class="form-control"
                    id="alertLimit"
                    name="alertLimit"
                    [(ngModel)]="user.alertLimit"
                />
            </div>
            <div class="col-md-6">
                <label for="negativeLimit">{{ 'pods_negative_limit' | translate }}</label>
                <input
                    disabled
                    type="number"
                    class="form-control"
                    id="negativeLimit"
                    name="negativeLimit"
                    [(ngModel)]="user.negativeLimit"
                />
            </div>
        </div>
        <hr>
        <div *ngFor="let address of user.address; let i = index">
            <h2>{{ 'Address' | translate }}{{ address.userAddressType.name | translate }}</h2>
            <p (click)="copyShippingAddressToBilling()" class="pointer" *ngIf="i === 1">
                <span><i class="fa fa-clone"></i></span>
                {{ 'use_same_address' | translate }}
            </p>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="street_{{ address.id }}">{{ 'Street' | translate }}</label>
                    <input type="text" class="form-control" id="street_{{ address.id }}" required [(ngModel)]="address.street" name="street_{{ address.id }}">
                </div>
                <div class="col-md-3">
                    <label for="number_{{ address.id }}">{{ 'Number' | translate }}</label>
                    <input type="text" class="form-control" id="number_{{ address.id }}" required [(ngModel)]="address.number" name="number_{{ address.id }}">
                </div>
                <div class="col-md-3">
                    <label for="box_{{ address.id }}">{{ 'Box' | translate }}</label>
                    <input type="text" class="form-control" id="box_{{ address.id }}" [(ngModel)]="address.box" name="box_{{ address.id }}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label for="zip_{{ address.id }}">{{ 'Zip' | translate }}</label>
                    <input type="text" class="form-control" id="zip_{{ address.id }}" required [(ngModel)]="address.zip" name="zip_{{ address.id }}">
                </div>
                <div class="col-md-4">
                    <label for="city_{{ address.id }}">{{ 'City' | translate }}</label>
                    <input type="text" class="form-control" id="city_{{ address.id }}" required [(ngModel)]="address.city" name="city_{{ address.id }}">
                </div>
                <div class="col-md-4">
                    <label for="country_{{ address.id }}">{{ 'Country' | translate }}</label>
                    <input type="text" class="form-control" id="country_{{ address.id }}" required [(ngModel)]="address.country" name="country_{{ address.id }}">
                </div>
            </div>
        </div>

        <hr>
        <h2>{{ 'Enable choice' | translate }}</h2>
        <div class="form-group row">
            <div class="col-md-2">
                <label for="largeur">{{ 'Width' | translate }}</label><br/>
                <ui-switch
                    id="largeur"
                    name="largeur"
                    [(ngModel)]="user.userField.largeur"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="detorsion">{{ 'Distortion_nb' | translate }}</label><br/>
                <ui-switch
                    id="detorsion"
                    name="detersion"
                    [(ngModel)]="user.userField.detorsion"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="bande_pronatrice">{{ 'Pronating band' | translate }}</label><br/>
                <ui-switch
                    id="bande_pronatrice"
                    name="bande_pronatrice"
                    [(ngModel)]="user.userField.bardePronatrice"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="axe_detorsion">{{ 'Axis of distortion' | translate }}</label><br/>
                <ui-switch
                    id="axe_detorsion"
                    name="axe_detorsion"
                    [(ngModel)]="user.userField.axe"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="sommet_courbure">{{ 'Top of curvature' | translate }}</label><br/>
                <ui-switch
                    id="sommet_courbure"
                    name="sommet_courbure"
                    [(ngModel)]="user.userField.courbure"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="hauteur_hemicoupole">{{ 'Hemicoupole height' | translate }}</label><br/>
                <ui-switch
                    id="hauteur_hemicoupole"
                    name="hauteur_hemicoupole"
                    [(ngModel)]="user.userField.hemicoupole"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label for="hauteur_cuvette">{{ 'Bowl height' | translate }}</label><br/>
                <ui-switch
                    id="hauteur_cuvette"
                    name="hauteur_cuvette"
                    [(ngModel)]="user.userField.cuvette"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="epaisseur_semelle">{{ 'Sole thickness' | translate }}</label><br/>
                <ui-switch
                    id="epaisseur_semelle"
                    name="epaisseur_semelle"
                    [(ngModel)]="user.userField.epaisseur"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="compensation">{{ 'Compensation' | translate }}</label><br/>
                <ui-switch
                    id="compensation"
                    name="compensation"
                    [(ngModel)]="user.userField.talon"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="coin_pronateur">{{ 'Pronator corner' | translate }}</label><br/>
                <ui-switch
                    id="coin_pronateur"
                    name="coin_pronateur"
                    [(ngModel)]="user.userField.pronateur"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="coin_supinateur">{{ 'Supinator corner' | translate }}</label><br/>
                <ui-switch
                    id="coin_supinateur"
                    name="coin_supinateur"
                    [(ngModel)]="user.userField.supinateur"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="sous_cuboidien">{{ 'Sub-cuboid' | translate }}</label><br/>
                <ui-switch
                    id="sous_cuboidien"
                    name="sous_cuboidien"
                    [(ngModel)]="user.userField.cuboidien"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label for="barre_retro_capitale_int">{{ '2/3 Interior retro-capital bar' | translate }}</label><br/>
                <ui-switch
                    id="barre_retro_capitale_int"
                    name="barre_retro_capitale_int"
                    [(ngModel)]="user.userField.brc23Int"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="barre_retro_capitale">{{ 'Retro-capital bar' | translate }}</label><br/>
                <ui-switch
                    id="barre_retro_capitale"
                    name="barre_retro_capitale"
                    [(ngModel)]="user.userField.brc"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="barre_retro_capitale_ext">{{ '2/3 Exterior retro-capital bar' | translate }}</label><br/>
                <ui-switch
                    id="barre_retro_capitale_ext"
                    name="barre_retro_capitale_ext"
                    [(ngModel)]="user.userField.brc23Ext"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="extMorton">{{ 'Extension de morton' | translate }}</label><br/>
                <ui-switch
                    id="extMorton"
                    name="extMorton"
                    [(ngModel)]="user.userField.extMorton"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="appui_retro_capitale">{{ 'Retro-capital support' | translate }}</label><br/>
                <ui-switch
                    id="appui_retro_capitale"
                    name="appui_retro_capitale"
                    [(ngModel)]="user.userField.appuiRC"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="sous_antero_capital">{{ 'Sub antero-capital' | translate }}</label><br/>
                <ui-switch
                    id="sous_antero_capital"
                    name="sous_antero_capital"
                    [(ngModel)]="user.userField.sousAC"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label for="sous_diaphysaire">{{ 'Under diaphyseal' | translate }}</label><br/>
                <ui-switch
                    id="sous_diaphysaire"
                    name="sous_diaphysaire"
                    [(ngModel)]="user.userField.diaphysaire"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="ruler">{{ 'Ruler' | translate }}</label><br/>
                <ui-switch
                    id="ruler"
                    name="ruler"
                    [(ngModel)]="user.userField.ruler"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="posting">{{ 'Posting' | translate }}</label><br/>
                <ui-switch
                    id="posting"
                    name="posting"
                    [(ngModel)]="user.userField.posting"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="premier_rayon">{{ 'First ray' | translate }}</label><br/>
                <ui-switch
                    id="premier_rayon"
                    name="premier_rayon"
                    [(ngModel)]="user.userField.firstRayon"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="decharge">{{ 'Discharge' | translate }}</label><br/>
                <ui-switch
                    id="decharge"
                    name="decharge"
                    [(ngModel)]="user.userField.decharge"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="cluffy_wedge">{{ 'Cluffy wedge' | translate }}</label><br/>
                <ui-switch
                    id="cluffy_wedge"
                    name="cluffy_wedge"
                    [(ngModel)]="user.userField.cluffy"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label for="arr_pied">{{ 'Back foot' | translate }}</label><br/>
                <ui-switch
                    id="arr_pied"
                    name="arr_pied"
                    [(ngModel)]="user.userField.arrPied"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="av_pied">{{ 'Front foot' | translate }}</label><br/>
                <ui-switch
                    id="av_pied"
                    name="av_pied"
                    [(ngModel)]="user.userField.avPied"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="posturo_ba">{{ 'Posturo BA' | translate }}</label><br/>
                <ui-switch
                    id="posturo_ba"
                    name="posturo_ba"
                    [(ngModel)]="user.userField.posturoBa"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="posturo_bi">{{ 'Posturo BI' | translate }}</label><br/>
                <ui-switch
                    id="posturo_bi"
                    name="posturo_bi"
                    [(ngModel)]="user.userField.posturoBi"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="posturo_bpi">{{ 'Posturo BPI' | translate }}</label><br/>
                <ui-switch
                    id="posturo_bpi"
                    name="posturo_bpi"
                    [(ngModel)]="user.userField.posturoBpi"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="posturo_eai">{{ 'Posturo EAI' | translate }}</label><br/>
                <ui-switch
                    id="posturo_eai"
                    name="posturo_eai"
                    [(ngModel)]="user.userField.posturoEai"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <label for="posturo_eca">{{ 'Posturo ECA' | translate }}</label><br/>
                <ui-switch
                    id="posturo_eca"
                    name="posturo_eca"
                    [(ngModel)]="user.userField.posturoEca"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="posturo_emi">{{ 'Posturo EMI' | translate }}</label><br/>
                <ui-switch
                    id="posturo_emi"
                    name="posturo_emi"
                    [(ngModel)]="user.userField.posturoEmi"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="posturo_epi">{{ 'Posturo EPI' | translate }}</label><br/>
                <ui-switch
                    id="posturo_epi"
                    name="posturo_epi"
                    [(ngModel)]="user.userField.posturoEpi"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="eva_tz">{{ 'EVA T0' | translate }}</label><br/>
                <ui-switch
                    id="eva_tz"
                    name="eva_tz"
                    [(ngModel)]="user.userField.painlevel1"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="eva_ts">{{ 'EVA T+6-8' | translate }}</label><br/>
                <ui-switch
                    id="eva_ts"
                    name="eva_ts"
                    [(ngModel)]="user.userField.painlevel2"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
            <div class="col-md-2">
                <label for="eva_td">{{ 'EVA T+12' | translate }}</label><br/>
                <ui-switch
                    id="eva_td"
                    name="eva_td"
                    [(ngModel)]="user.userField.painlevel3"
                    checkedLabel="{{ 'Yes' | translate }}"
                    uncheckedLabel="{{ 'No' | translate }}"
                ></ui-switch>
            </div>
        </div>

        <hr>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="finishing">{{ 'Finishing settings' | translate }}</label>
                <select class="form-control" id="finishing" [(ngModel)]="user.finishing" name="finishing">
                    <option *ngFor="let finishing of finishings" [value]="finishing['id']">{{ finishing['name'] | translate }}</option>
                </select>
            </div>
        </div>
        <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
        <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">{{ 'Submit' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back to home' | translate }}</button>

    </form>
</div>
