<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <button class="navbar-toggler navbar-toggler-sidebar" type="button" (click)="toggleSidebar()">
            <i class="fa fa-bars text-muted" aria-hidden="true"></i>
        </button>
        <a  routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebarSmallScreen()">
            <i class="fa fa-fw fa-dashboard"></i><span class="list-group-item-text">{{ 'Dashboard' | translate }} </span>
        </a>
        <a routerLink="/users/cards/add" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" class="list-group-item" (click)="toggleSidebarSmallScreen()">
            <i class="fa fa-fw fa-file-o"></i><span class="list-group-item-text">{{ 'New cards' | translate }}</span>
        </a>
        <a  routerLink="/messages" [routerLinkActive]="['router-link-active']" class="list-group-item admin" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
            <i class="fa fa-fw fa-header"></i><span class="list-group-item-text">{{ 'headband manager' | translate }}</span>
        </a>
        <div class="nested-menu" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1">
            <a [routerLinkActive]="['router-link-active']" class="list-group-item admin" (click)="addExpandClass('pagesUsers')">
                <span><i class="fa fa-fw fa-users"></i> <span class="list-group-item-text">{{ 'Users' | translate }}</span></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagesUsers'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/users" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-users admin"> </i><span class="list-group-item-text admin">{{ 'All Users' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/users/add" [routerLinkActive]="['router-link-active']" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-user admin"></i> <span class="list-group-item-text admin">{{ 'New user' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1 || userRoles.indexOf('ROLE_CAD') !== -1 || userRoles.indexOf('ROLE_CAM') !== -1 || userRoles.indexOf('ROLE_FINANCE') !== -1">
            <a [routerLinkActive]="['router-link-active']" class="list-group-item admin" (click)="addExpandClass('pagesCards')">
                <span><i class="fa fa-fw fa-files-o"></i> <span class="list-group-item-text">{{ 'Cards' | translate }}</span></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagesCards'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/cards" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-files-o admin"> </i><span class="list-group-item-text admin">{{ 'All Cards' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cards/add" [routerLinkActive]="['router-link-active']" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-file-o admin"></i><span class="list-group-item-text admin">{{ 'New cards' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/cards/templates" [routerLinkActive]="['router-link-active']" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-recycle admin"></i><span class="list-group-item-text admin">{{ 'Cards Templates' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/exportdb" [routerLinkActive]="['router-link-active']" class="list-group-item admin" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
            <i class="fa fa-fw fa-database"></i><span class="list-group-item-text">{{ 'Export DB' | translate }}</span>
        </a>
        <a routerLink="/patients" [routerLinkActive]="['router-link-active']" class="list-group-item admin" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
            <i class="fa fa-fw fa-medkit"></i><span class="list-group-item-text">{{ 'Patients' | translate }}</span>
        </a>
        <a
            routerLink="/all-users-balance-history"
            [routerLinkActive]="['router-link-active']"
            class="list-group-item admin"
            *ngIf="userRoles.includes('ROLE_ADMIN')"
            (click)="toggleSidebarSmallScreen()"
            >
            <i class="fa fa-fw fas fa-history"></i>
            <span class="list-group-item-text">{{ 'pods_history' | translate }}</span>
        </a>
        <a
            routerLink="/manage-pods"
            [routerLinkActive]="['router-link-active']"
            class="list-group-item admin"
            *ngIf="userRoles.includes('ROLE_ADMIN')"
            (click)="toggleSidebarSmallScreen()"
            >
            <i class="fa fa-fw fas fa-money"></i>
            <span class="list-group-item-text">{{ 'pods_management' | translate }}</span>
        </a>
        <div class="nested-menu" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1">
            <a class="list-group-item admin" (click)="addExpandClass('pagesGestions')">
            <span><i class="fa fa-fw fa-archive"></i> <span class="list-group-item-text">{{ 'Gestion ressources' | translate }}</span></span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pagesGestions'">
                <ul class="submenu">
                    <li>
                        <a routerLink="/materials" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-cubes admin"></i> <span class="list-group-item-text admin">{{ 'Materials' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/status" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-lock admin"></i> <span class="list-group-item-text admin">{{ 'Status' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/gabarits" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-shopping-cart admin"></i> <span class="list-group-item-text admin">{{ 'Gabrarits' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/pathologies" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-medkit admin"></i> <span class="list-group-item-text admin">{{ 'Pathologies' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/recoveries" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-bars admin"></i> <span class="list-group-item-text admin">{{ 'Recoveries' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/sports" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fa-futbol-o admin"></i> <span class="list-group-item-text admin">{{ 'Sports' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/flangesColors" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fas fa-bars admin"></i> <span class="list-group-item-text admin">{{ 'Flanges color' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shippings" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fas fa-bars admin"></i> <span class="list-group-item-text admin">{{ 'Shippings' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/shoesmodels" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fas fa-bars admin"></i>
                            <span class="list-group-item-text admin">{{ 'Shoes Models' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/finishings" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" *ngIf="userRoles.indexOf('ROLE_ADMIN') !== -1" (click)="toggleSidebarSmallScreen()">
                            <i class="fa fa-fw fas fa-bars admin"></i>
                            <span class="list-group-item-text admin">{{ 'Finishing' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a routerLink="/users/patients" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebarSmallScreen()">
            <i class="fa fa-fw fa-medkit"></i><span class="list-group-item-text">{{ 'My patients' | translate }}</span>
        </a>
        <a routerLink="/users/cards" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact: true}" class="list-group-item" (click)="toggleSidebarSmallScreen()">
            <i class="fa fa-fw fa-files-o"></i><span class="list-group-item-text">{{ 'My cards' | translate }}</span>
        </a>
        <a
            routerLink="/current-user-balance-history"
            [routerLinkActive]="['router-link-active']"
            [routerLinkActiveOptions]="{exact: true}"
            class="list-group-item"
            (click)="toggleSidebarSmallScreen()"
            >
            <i class="fa fa-fw fas fa-history"></i>
            <span class="list-group-item-text">{{ 'my_pods_history' | translate }}</span>
        </a>
        <a routerLink="/users/cards/templates" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebarSmallScreen()">
            <i class="fa fa-fw fa-recycle"></i><span class="list-group-item-text">{{ 'My cards templates' | translate }}</span>
        </a>
        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item d-none">
                <span><i class="fa fa-arrows-h "></i> RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i><span class="list-group-item-text"> {{ 'Language' | translate }}</span> <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'" >
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i><span class="list-group-item-text"> {{username}}</span> </span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a routerLink="/users/profil" [routerLinkActive]="['router-link-active']" (click)="toggleSidebarSmallScreen()">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                            <li>
                                <a [routerLink]="['/login']" (click)="onLoggedout()">
                                    <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </nav>
