<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idPathology === undefined">{{ 'Add pathology' | translate }}</h1>
  <h1 *ngIf="idPathology !== undefined">{{ 'Edit pathology' | translate }} - {{ pathology.name | translate }}</h1>
  <form #pathologyForm="ngForm" (ngSubmit)="gestionPathology(pathology)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="pathology.name" name="name">
    </div>
    <div class="col-md-12 pt-2">
      <p>{{ 'displayed_translation' | translate }}: {{ pathology.name | translate }}</p>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!pathologyForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete pathology' | translate }} - {{ pathology.name }}</h1>
  <form #sportForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ pathology.name }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
