<div class="container-fluid">
  <div *ngIf="status === 'success'" role="alert" class="alert alert-success alert-dismissible">
    <button aria-label="Close" class="close ng-star-inserted" type="button"><span aria-hidden="true">×</span></button>
    {{ 'Elements created'| translate }}
  </div>
  <app-page-header [heading]="'All CardsStatus'" [icon]="'fa-table'"></app-page-header>
  <app-datatable [model]="'CardsStatus'" [heading]="heading" [baseUrl]="baseURl" [actions]="actions"></app-datatable>
</div>