<div class="container">
  <h1 *ngIf="idUsersCardsTemplates === undefined">{{ 'Add usersCardsTemplates' | translate }}</h1>
  <h1 *ngIf="idUsersCardsTemplates !== undefined">{{ 'Edit usersCardsTemplates' | translate }} - {{ nameUsersCardsTemplates }}</h1>
  <div *ngIf="status === 'error'" role="alert" class="alert alert-danger alert-dismissible">
    <button aria-label="Close" class="close ng-star-inserted" type="button"><span aria-hidden="true">×</span></button>
    {{ 'ERROR: Elements not created'| translate }}
  </div>
  <form #usersCardsTemplatesForm="ngForm" (ngSubmit)="gestionUsersCardsTemplates(idUsersCardsTemplates)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="usersCardsTemplatesModel.name" value="{{ nameUsersCardsTemplates }}" name="name">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!usersCardsTemplatesForm.form.valid">{{ 'Submit' | translate }}</button>

  </form>
</div>

