.update-modal-status {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .update-modal-status-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 50em;
    button {
      margin-right: 20px;
    }
  }

  .update-close-status {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .update-close-status:hover,
  .update-close-status:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .tinyloader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }

  .next-status {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .update-status {
    margin-bottom: 3em;
    margin-top: 3em;
    select {
        width: 100%;
        padding: 0.5em;
    }
    button {
        width: 100%;
        margin-top: 1em;
        margin-left: 0px;
    }
  }