<div>
  <div id="myModal" class="update-modal-status">
    <div class="update-modal-status-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>{{ 'cardId' | translate }}: {{ _updateStatusModalService.card.id }}</h2>
      <div class="form-group" style="display: block">
        <div>
          <div *ngIf="_updateStatusModalService.card.status_name !== 'Billed'">
            <button class="btn btn-secondary next-status" (click)="nextStatus()">
              <div class="tinyloader" *ngIf="isNextStatusLoading"></div>
              <span *ngIf="!isNextStatusLoading">{{ 'next_status' | translate }}</span>
            </button>
          </div>
          <hr *ngIf="isAdmin()">
          <div *ngIf="isAdmin()" class="update-status">
            <select
              id="status"
              [(ngModel)]="_updateStatusModalService.card.status_id"
              name="status"
              class="select-status"
            >
              <option *ngFor="let statusItem of status" [value]="statusItem['id']">
                {{ statusItem['name'] | translate }}
              </option>
            </select>
            <button class="btn btn-primary" (click)="changeStatus()">
              <div class="tinyloader" *ngIf="isChangeStatusLoading"></div>
              <span *ngIf="!isChangeStatusLoading">{{ 'update_status' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
