<div class="container">
  <h1 *ngIf="idCardsTemplates === undefined">{{ 'Add cardsTemplates' | translate }}</h1>
  <h1 *ngIf="idCardsTemplates !== undefined">{{ 'Edit cardsTemplates' | translate }} - {{ nameCardsTemplates }}</h1>
  <div *ngIf="status === 'error'" role="alert" class="alert alert-danger alert-dismissible">
    <button aria-label="Close" class="close ng-star-inserted" type="button"><span aria-hidden="true">×</span></button>
    {{ 'ERROR: Elements not created'| translate }}
  </div>
  <form #cardsTemplatesForm="ngForm" (ngSubmit)="gestionCardsTemplates(idCardsTemplates)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="cardsTemplatesModel.name" value="{{ nameCardsTemplates }}" name="name">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!cardsTemplatesForm.form.valid">{{ 'Submit' | translate }}</button>

  </form>
</div>

