<ul id="shipping_days">
  <li *ngFor="let day of daysOfTheWeek"
      [ngClass]="{'day-selector': isThisDaySelected(day)}"
      (click)="addOrRemoveThisDay(day)"
  >
    <span 
    class="badge"
    [ngClass]="{'badge-light': !isThisDaySelected(day), 'badge-success': isThisDaySelected(day) }"
    >{{ day | translate }}</span>
  </li>
</ul>
