<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="hashUser === undefined">{{ 'Add user' | translate }}</h1>
  <h1 *ngIf="hashUser !== undefined">{{ 'Edit user' | translate }} - {{ user.lastname }} {{ user.firstname }}</h1>
  <form #userForm="ngForm" (ngSubmit)="gestionUser(user)">
    <h2>{{ 'General informations' | translate }}</h2>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="lastname">{{ 'Lastname' | translate }}</label>
        <input type="text" class="form-control" id="lastname" required [(ngModel)]="user.lastname" name="lastname">
      </div>
      <div class="col-md-6">
        <label for="firstname">{{ 'Firstname' | translate }}</label>
        <input type="text" class="form-control" id="firstname" required [(ngModel)]="user.firstname" name="firstname">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="email">{{ 'Email' | translate }}</label>
        <input type="email" class="form-control" id="email" required [(ngModel)]="user.email" name="email">
      </div>
      <div class="col-md-6">
        <label for="password">{{ 'Password' | translate }}</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="professionalTitle">{{ 'Professional title' | translate }}</label>
        <input type="text" class="form-control" id="professionalTitle" [(ngModel)]="user.professionalTitle" name="professionalTitle">
      </div>
      <div class="col-md-6">
        <label for="logo">{{ 'Logo' | translate }}</label>
        <div class="row">
          <div class="col-md-2" *ngIf="urlLogo">
            <img src="{{ urlLogo }}" id="image_logo" style="height: 75px; width: 75px;">
          </div>
          <div class="col-md-8">
            <input type="file" class="form-control" (change)="upload($event.target.files)" />
          </div>
        </div>

        <ng-container *ngIf="(percentDone > 0 && percentDone < 100)">
          {{ 'Upload Percent' | translate }}: {{percentDone}}% <br />
        </ng-container>
        <ng-container *ngIf="uploadSuccess">
          {{ 'Upload Successful' | translate }}
        </ng-container>
        <input type="hidden" class="form-control" id="logo" [(ngModel)]="user.newlogo" name="logo">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-12">
        <label for="website">{{ 'Website' | translate }}</label>
        <input type="text" class="form-control" id="website" [(ngModel)]="user.website" name="website">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="shipping_box">{{ 'shipping_box' | translate }}</label>
        <input type="number" class="form-control" id="shipping_box" [(ngModel)]="user.shippingBox" name="shippingBox" pattern="\d+">
      </div>
      <div class="col-md-6">
        <label for="shipping_box_2">{{ 'shipping_box2' | translate }}</label>
        <input type="number" class="form-control" id="shipping_box_2" [(ngModel)]="user.shippingBox2" name="shippingBox2" pattern="\d+">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-4">
        <label for="phoneFix">{{ 'Phone number - Fix' | translate }}</label>
        <input type="text" class="form-control" id="phoneFix" [(ngModel)]="user.phoneFix" name="phoneFix">
      </div>
      <div class="col-md-4">
        <label for="phonePortable">{{ 'Phone number - Portable' | translate }}</label>
        <input type="text" class="form-control" id="phonePortable" required [(ngModel)]="user.phonePortable" name="phonePortable">
      </div>
      <div class="col-md-4">
        <label for="fax">{{ 'Fax number' | translate }}</label>
        <input type="text" class="form-control" id="fax" [(ngModel)]="user.fax" name="fax">
      </div>
    </div>
    <hr>
    <h2>{{ 'Roles' | translate }}</h2>
    <div *ngIf="hashUser !== undefined" class="form-group row">
        <div class="col-md-12">
          <label for="roles">{{ 'Roles' | translate }}</label>
          <select class="form-control" id="roles" [(ngModel)]="user.userRole.id" name="roles">
            <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
    </div>
    <div *ngIf="hashUser === undefined" class="form-group row">
        <div class="col-md-12">
          <label for="roles">{{ 'Roles' | translate }}</label>
          <select class="form-control" id="roles" [(ngModel)]="user.userRole" name="roles">
            <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
          </select>
        </div>
    </div>
    <hr>
    <h2>{{ 'Company' | translate }}</h2>
    <div *ngIf="hashUser !== undefined" class="form-group row">
      <div class="col-md-6">
        <label for="company">{{ 'Company name' | translate }}</label>
        <input type="text" class="form-control" id="company" [(ngModel)]="user.companies[0].name" name="company">
      </div>
      <div class="col-md-6">
        <label for="tva">{{ 'VAT' | translate }}</label>
        <input type="text" class="form-control" id="tva" [(ngModel)]="user.companies[0].tvaNumber" name="tva">
      </div>
    </div>
    <div *ngIf="hashUser === undefined" class="form-group row">
      <div class="col-md-6">
        <label for="company">{{ 'Company name' | translate }}</label>
        <input type="text" class="form-control" id="company" [(ngModel)]="user.company" name="company">
      </div>
      <div class="col-md-6">
        <label for="tva">{{ 'VAT' | translate }}</label>
        <input type="text" class="form-control" id="tva" [(ngModel)]="user.tva" name="tva">
      </div>
    </div>
    <hr>
    <h2>{{ 'Pref de Livraison' | translate }}</h2>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="shipping">{{ 'Shipping' | translate }}</label>
        <select class="form-control" id="shipping" [(ngModel)]="shippingId" name="shipping" required>
          <option value="null" disabled>Choisir</option>
          <option *ngFor="let shipping of shippings" [value]="shipping['id']">{{ shipping['name'] | translate  }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label>{{ 'Shipping days' | translate }}</label><br />
        <app-day-of-the-week-selector [selectedDays]="selectedDays"></app-day-of-the-week-selector>
      </div>

    </div>
    <hr>
    <h2>{{ 'account_balance_pref' | translate }}</h2>
    <div class="form-group row">
        <div class="col-md-6">
            <label for="alertLimit">{{ 'pods_alert_limit' | translate }}</label>
            <input
                type="number"
                class="form-control"
                id="alertLimit"
                name="alertLimit"
                [(ngModel)]="user.alertLimit"
            />
        </div>
        <div class="col-md-6">
            <label for="negativeLimit">{{ 'pods_negative_limit' | translate }}</label>
            <input
                type="number"
                class="form-control"
                id="negativeLimit"
                name="negativeLimit"
                [(ngModel)]="user.negativeLimit"
            />
        </div>
    </div>
    <hr>
    <h2>{{ 'podoCad' | translate }}</h2>
    <div>
      <select [(ngModel)]="podoCadHash" class="form-control" name="podoCadHash">
        <option disabled [value]="null">{{ 'Choisir' | translate }}</option>
        <option *ngFor="let cad of cads;" [value]="cad.hash">
            {{ cad.firstname }} {{ cad.lastname }}
        </option>
      </select>
    </div>
    <hr>
    <div *ngIf="hashUser !== undefined">
      <div *ngFor="let address of user.address; let i = index;">
        <h2>{{ 'Address' | translate }}{{ address.userAddressType.name | translate }}</h2>
        <p (click)="copyShippingAddressToBillingInEdition()" class="pointer" *ngIf="i === 1">
          <span><i class="fa fa-clone"></i></span>
          {{ 'use_same_address' | translate }}
        </p>
        <div class="form-group row">
          <div class="col-md-6">
            <label for="street_{{ address.id }}">{{ 'Street' | translate }}</label>
            <input type="text" class="form-control" id="street_{{ address.id }}" required [(ngModel)]="address.street" name="street_{{ address.id }}">
          </div>
          <div class="col-md-3">
            <label for="number_{{ address.id }}">{{ 'Number' | translate }}</label>
            <input type="text" class="form-control" id="number_{{ address.id }}" required [(ngModel)]="address.number" name="number_{{ address.id }}">
          </div>
          <div class="col-md-3">
            <label for="box_{{ address.id }}">{{ 'Box' | translate }}</label>
            <input type="text" class="form-control" id="box_{{ address.id }}" [(ngModel)]="address.box" name="box_{{ address.id }}">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label for="zip_{{ address.id }}">{{ 'Zip' | translate }}</label>
            <input type="text" class="form-control" id="zip_{{ address.id }}" required [(ngModel)]="address.zip" name="zip_{{ address.id }}">
          </div>
          <div class="col-md-4">
            <label for="city_{{ address.id }}">{{ 'City' | translate }}</label>
            <input type="text" class="form-control" id="city_{{ address.id }}" required [(ngModel)]="address.city" name="city_{{ address.id }}">
          </div>
          <div class="col-md-4">
            <label for="country_{{ address.id }}">{{ 'Country' | translate }}</label>
            <input type="text" class="form-control" id="country_{{ address.id }}" required [(ngModel)]="address.country" name="country_{{ address.id }}">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hashUser === undefined">
      <h2>
        {{ 'Address Private' | translate }}
      </h2>
      <div class="form-group row">
        <div class="col-md-12">
          <select style="display:none;" class="form-control" id="addresstype_pr" [(ngModel)]="user.address_pr_type" name="addresstype_pr">
            <option *ngFor="let type of addressesType" [value]="type['id']" [selected]="1">{{ type['name'] }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <label for="street_pr">{{ 'Street' | translate }}</label>
          <input type="text" class="form-control" id="street_pr" required [(ngModel)]="user.address_pr_street" name="street_pr">
        </div>
        <div class="col-md-3">
          <label for="number_pr">{{ 'Number' | translate }}</label>
          <input type="text" class="form-control" id="number_pr" required [(ngModel)]="user.address_pr_number" name="number_pr">
        </div>
        <div class="col-md-3">
          <label for="box_pr">{{ 'Box' | translate }}</label>
          <input type="text" class="form-control" id="box_pr" [(ngModel)]="user.address_pr_box" name="box_pr">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-4">
          <label for="zip_pr">{{ 'Zip' | translate }}</label>
          <input type="text" class="form-control" id="zip_pr" required [(ngModel)]="user.address_pr_zip" name="zip_pr">
        </div>
        <div class="col-md-4">
          <label for="city">{{ 'City' | translate }}</label>
          <input type="text" class="form-control" id="city" required [(ngModel)]="user.address_pr_city" name="city_pr">
        </div>
        <div class="col-md-4">
          <label for="country_pr">{{ 'Country' | translate }}</label>
          <input type="text" class="form-control" id="country_pr" required [(ngModel)]="user.address_pr_country" name="country_pr">
        </div>
      </div>
      <h2>
        {{ 'Address Company' | translate }}
      </h2>
      <p (click)="copyShippingAddressToBillingInCreation()" class="pointer">
        <span><i class="fa fa-clone"></i></span>
        {{ 'use_same_address' | translate }}
      </p>
      <div class="form-group row">
        <div class="col-md-12">
          <select style="display:none;" class="form-control" id="addresstype_cp" [(ngModel)]="user.address_cp_type" name="addresstype_cp">
            <option *ngFor="let type of addressesType" [value]="type['id']" [selected]="2">{{ type['name'] }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <label for="street_cp">{{ 'Street' | translate }}</label>
          <input type="text" class="form-control" id="street_cp" required [(ngModel)]="user.address_cp_street" name="street_cp">
        </div>
        <div class="col-md-3">
          <label for="number_cp">{{ 'Number' | translate }}</label>
          <input type="text" class="form-control" id="number_cp" required [(ngModel)]="user.address_cp_number" name="number_cp">
        </div>
        <div class="col-md-3">
          <label for="box_cp">{{ 'Box' | translate }}</label>
          <input type="text" class="form-control" id="box_cp" [(ngModel)]="user.address_cp_box" name="box_cp">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-4">
          <label for="zip_cp">{{ 'Zip' | translate }}</label>
          <input type="text" class="form-control" id="zip_cp" required [(ngModel)]="user.address_cp_zip" name="zip_cp">
        </div>
        <div class="col-md-4">
          <label for="city_cp">{{ 'City' | translate }}</label>
          <input type="text" class="form-control" id="city_cp" required [(ngModel)]="user.address_cp_city" name="city_cp">
        </div>
        <div class="col-md-4">
          <label for="country_cp">{{ 'Country' | translate }}</label>
          <input type="text" class="form-control" id="country_cp" required [(ngModel)]="user.address_cp_country" name="country_cp">
        </div>
      </div>
    </div>
    <hr>
    <h2>{{ 'Enable choice' | translate }}</h2>
    <div *ngIf="hashUser !== undefined">
      <div class="form-group row">
        <div class="col-md-2">
          <label for="largeur">{{ 'Width' | translate }}</label><br />
          <ui-switch id="largeur" name="largeur" [(ngModel)]="user.userField.largeur"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="detorsion">{{ 'Distortion_nb' | translate }}</label><br />
          <ui-switch id="detorsion" name="detersion" [(ngModel)]="user.userField.detorsion"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="bande_pronatrice">{{ 'Pronating band' | translate }}</label><br />
          <ui-switch id="bande_pronatrice" name="bande_pronatrice" [(ngModel)]="user.userField.bardePronatrice"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="axe_detorsion">{{ 'Axis of distortion' | translate }}</label><br />
          <ui-switch id="axe_detorsion" name="axe_detorsion" [(ngModel)]="user.userField.axe"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="sommet_courbure">{{ 'Top of curvature' | translate }}</label><br />
          <ui-switch id="sommet_courbure" name="sommet_courbure" [(ngModel)]="user.userField.courbure"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="hauteur_hemicoupole">{{ 'Hemicoupole height' | translate }}</label><br />
          <ui-switch id="hauteur_hemicoupole" name="hauteur_hemicoupole" [(ngModel)]="user.userField.hemicoupole"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="hauteur_cuvette">{{ 'Bowl height' | translate }}</label><br />
          <ui-switch id="hauteur_cuvette" name="hauteur_cuvette" [(ngModel)]="user.userField.cuvette"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="epaisseur_semelle">{{ 'Sole thickness' | translate }}</label><br />
          <ui-switch id="epaisseur_semelle" name="epaisseur_semelle" [(ngModel)]="user.userField.epaisseur"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="compensation">{{ 'Compensation' | translate }}</label><br />
          <ui-switch id="compensation" name="compensation" [(ngModel)]="user.userField.talon"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="coin_pronateur">{{ 'Pronator corner' | translate }}</label><br />
          <ui-switch id="coin_pronateur" name="coin_pronateur" [(ngModel)]="user.userField.pronateur"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="coin_supinateur">{{ 'Supinator corner' | translate }}</label><br />
          <ui-switch id="coin_supinateur" name="coin_supinateur" [(ngModel)]="user.userField.supinateur"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="sous_cuboidien">{{ 'Sub-cuboid' | translate }}</label><br />
          <ui-switch id="sous_cuboidien" name="sous_cuboidien" [(ngModel)]="user.userField.cuboidien"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="barre_retro_capitale">{{ 'Retro-capital bar' | translate }}</label><br />
          <ui-switch id="barre_retro_capitale" name="barre_retro_capitale" [(ngModel)]="user.userField.brc"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="barre_retro_capitale_int">{{ '2/3 Interior retro-capital bar' | translate }}</label><br />
          <ui-switch id="barre_retro_capitale_int" name="barre_retro_capitale_int" [(ngModel)]="user.userField.brc23Int"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="barre_retro_capitale_ext">{{ '2/3 Exterior retro-capital bar' | translate }}</label><br />
          <ui-switch id="barre_retro_capitale_ext" name="barre_retro_capitale_ext" [(ngModel)]="user.userField.brc23Ext"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="extMorton">{{ 'Extension de morton' | translate }}</label><br />
          <ui-switch id="extMorton" name="extMorton" [(ngModel)]="user.userField.extMorton"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="appui_retro_capitale">{{ 'Retro-capital support' | translate }}</label><br />
          <ui-switch id="appui_retro_capitale" name="appui_retro_capitale" [(ngModel)]="user.userField.appuiRC"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="sous_antero_capital">{{ 'Sub antero-capital' | translate }}</label><br />
          <ui-switch id="sous_antero_capital" name="sous_antero_capital" [(ngModel)]="user.userField.sousAC"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="sous_diaphysaire">{{ 'Under diaphyseal' | translate }}</label><br />
          <ui-switch id="sous_diaphysaire" name="sous_diaphysaire" [(ngModel)]="user.userField.diaphysaire"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="ruler">{{ 'Ruler' | translate }}</label><br />
          <ui-switch id="ruler" name="ruler" [(ngModel)]="user.userField.ruler"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posting">{{ 'Posting' | translate }}</label><br />
          <ui-switch id="posting" name="posting" [(ngModel)]="user.userField.posting"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="premier_rayon">{{ 'First ray' | translate }}</label><br />
          <ui-switch id="premier_rayon" name="premier_rayon" [(ngModel)]="user.userField.firstRayon"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="decharge">{{ 'Discharge' | translate }}</label><br />
          <ui-switch id="decharge" name="decharge" [(ngModel)]="user.userField.decharge"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="cluffy_wedge">{{ 'Cluffy wedge' | translate }}</label><br />
          <ui-switch id="cluffy_wedge" name="cluffy_wedge" [(ngModel)]="user.userField.cluffy"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="arr_pied">{{ 'Back foot' | translate }}</label><br />
          <ui-switch id="arr_pied" name="arr_pied" [(ngModel)]="user.userField.arrPied"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="av_pied">{{ 'Front foot' | translate }}</label><br />
          <ui-switch id="av_pied" name="av_pied" [(ngModel)]="user.userField.avPied"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_ba">{{ 'Posturo BA' | translate }}</label><br />
          <ui-switch id="posturo_ba" name="posturo_ba" [(ngModel)]="user.userField.posturoBa"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_bi">{{ 'Posturo BI' | translate }}</label><br />
          <ui-switch id="posturo_bi" name="posturo_bi" [(ngModel)]="user.userField.posturoBi"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_bpi">{{ 'Posturo BPI' | translate }}</label><br />
          <ui-switch id="posturo_bpi" name="posturo_bpi" [(ngModel)]="user.userField.posturoBpi"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_eai">{{ 'Posturo EAI' | translate }}</label><br />
          <ui-switch id="posturo_eai" name="posturo_eai" [(ngModel)]="user.userField.posturoEai"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_eca">{{ 'Posturo ECA' | translate }}</label><br />
          <ui-switch id="posturo_eca" name="posturo_eca" [(ngModel)]="user.userField.posturoEca"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="posturo_emi">{{ 'Posturo EMI' | translate }}</label><br />
          <ui-switch id="posturo_emi" name="posturo_emi" [(ngModel)]="user.userField.posturoEmi"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_epi">{{ 'Posturo EPI' | translate }}</label><br />
          <ui-switch id="posturo_epi" name="posturo_epi" [(ngModel)]="user.userField.posturoEpi"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="eva_tz">{{ 'EVA T0' | translate }}</label><br />
          <ui-switch id="eva_tz" name="eva_tz" [(ngModel)]="user.userField.painlevel1"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="eva_ts">{{ 'EVA T+6-8' | translate }}</label><br />
          <ui-switch id="eva_ts" name="eva_ts" [(ngModel)]="user.userField.painlevel2"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="eva_td">{{ 'EVA T+12' | translate }}</label><br />
          <ui-switch id="eva_td" name="eva_td" [(ngModel)]="user.userField.painlevel3"></ui-switch>
        </div>
      </div>
    </div>
    <div *ngIf="hashUser === undefined">
      <div class="form-group row">
        <div class="col-md-2">
          <label for="largeur">{{ 'Width' | translate }}</label><br />
          <ui-switch id="largeur" name="largeur" [(ngModel)]="user.largeur"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="detorsion">{{ 'Distortion_nb' | translate }}</label><br />
          <ui-switch id="detorsion" name="detersion" [(ngModel)]="user.detorsion"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="bande_pronatrice">{{ 'Pronating band' | translate }}</label><br />
          <ui-switch id="bande_pronatrice" name="bande_pronatrice" [(ngModel)]="user.bardePronatrice"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="axe_detorsion">{{ 'Axis of distortion' | translate }}</label><br />
          <ui-switch id="axe_detorsion" name="axe_detorsion" [(ngModel)]="user.axe"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="sommet_courbure">{{ 'Top of curvature' | translate }}</label><br />
          <ui-switch id="sommet_courbure" name="sommet_courbure" [(ngModel)]="user.courbure"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="hauteur_hemicoupole">{{ 'Hemicoupole height' | translate }}</label><br />
          <ui-switch id="hauteur_hemicoupole" name="hauteur_hemicoupole" [(ngModel)]="user.hemicoupole"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="hauteur_cuvette">{{ 'Bowl height' | translate }}</label><br />
          <ui-switch id="hauteur_cuvette" name="hauteur_cuvette" [(ngModel)]="user.cuvette"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="epaisseur_semelle">{{ 'Sole thickness' | translate }}</label><br />
          <ui-switch id="epaisseur_semelle" name="epaisseur_semelle" [(ngModel)]="user.epaisseur"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="compensation">{{ 'Compensation' | translate }}</label><br />
          <ui-switch id="compensation" name="compensation" [(ngModel)]="user.talon"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="coin_pronateur">{{ 'Pronator corner' | translate }}</label><br />
          <ui-switch id="coin_pronateur" name="coin_pronateur" [(ngModel)]="user.pronateur"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="coin_supinateur">{{ 'Supinator corner' | translate }}</label><br />
          <ui-switch id="coin_supinateur" name="coin_supinateur" [(ngModel)]="user.supinateur"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="sous_cuboidien">{{ 'Sub-cuboid' | translate }}</label><br />
          <ui-switch id="sous_cuboidien" name="sous_cuboidien" [(ngModel)]="user.cuboidien"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="barre_retro_capitale">{{ 'Retro-capital bar' | translate }}</label><br />
          <ui-switch id="barre_retro_capitale" name="barre_retro_capitale" [(ngModel)]="user.brc"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="barre_retro_capitale_int">{{ '2/3 Interior retro-capital bar' | translate }}</label><br />
          <ui-switch id="barre_retro_capitale_int" name="barre_retro_capitale_int" [(ngModel)]="user.brc23Int"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="barre_retro_capitale_ext">{{ '2/3 Exterior retro-capital bar' | translate }}</label><br />
          <ui-switch id="barre_retro_capitale_ext" name="barre_retro_capitale_ext" [(ngModel)]="user.brc23Ext"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="extMorton">{{ 'Extension de morton' | translate }}</label><br />
          <ui-switch id="extMorton" name="extMorton" [(ngModel)]="user.extMorton"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="appui_retro_capitale">{{ 'Retro-capital support' | translate }}</label><br />
          <ui-switch id="appui_retro_capitale" name="appui_retro_capitale" [(ngModel)]="user.appuiRC"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="sous_antero_capital">{{ 'Sub antero-capital' | translate }}</label><br />
          <ui-switch id="sous_antero_capital" name="sous_antero_capital" [(ngModel)]="user.sousAC"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="sous_diaphysaire">{{ 'Under diaphyseal' | translate }}</label><br />
          <ui-switch id="sous_diaphysaire" name="sous_diaphysaire" [(ngModel)]="user.diaphysaire"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="ruler">{{ 'Ruler' | translate }}</label><br />
          <ui-switch id="ruler" name="ruler" [(ngModel)]="user.ruler"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posting">{{ 'Posting' | translate }}</label><br />
          <ui-switch id="posting" name="posting" [(ngModel)]="user.posting"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="premier_rayon">{{ 'First ray' | translate }}</label><br />
          <ui-switch id="premier_rayon" name="premier_rayon" [(ngModel)]="user.firstRayon"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="decharge">{{ 'Discharge' | translate }}</label><br />
          <ui-switch id="decharge" name="decharge" [(ngModel)]="user.decharge"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="cluffy_wedge">{{ 'Cluffy wedge' | translate }}</label><br />
          <ui-switch id="cluffy_wedge" name="cluffy_wedge" [(ngModel)]="user.cluffy"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="arr_pied">{{ 'Back foot' | translate }}</label><br />
          <ui-switch id="arr_pied" name="arr_pied" [(ngModel)]="user.arrPied"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="av_pied">{{ 'Front foot' | translate }}</label><br />
          <ui-switch id="av_pied" name="av_pied" [(ngModel)]="user.avPied"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_ba">{{ 'Posturo BA' | translate }}</label><br />
          <ui-switch id="posturo_ba" name="posturo_ba" [(ngModel)]="user.posturoBa"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_bi">{{ 'Posturo BI' | translate }}</label><br />
          <ui-switch id="posturo_bi" name="posturo_bi" [(ngModel)]="user.posturoBi"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_bpi">{{ 'Posturo BPI' | translate }}</label><br />
          <ui-switch id="posturo_bpi" name="posturo_bpi" [(ngModel)]="user.posturoBpi"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_eai">{{ 'Posturo EAI' | translate }}</label><br />
          <ui-switch id="posturo_eai" name="posturo_eai" [(ngModel)]="user.posturoEai"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_eca">{{ 'Posturo ECA' | translate }}</label><br />
          <ui-switch id="posturo_eca" name="posturo_eca" [(ngModel)]="user.posturoEca"></ui-switch>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
          <label for="posturo_emi">{{ 'Posturo EMI' | translate }}</label><br />
          <ui-switch id="posturo_emi" name="posturo_emi" [(ngModel)]="user.posturoEmi"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="posturo_epi">{{ 'Posturo EPI' | translate }}</label><br />
          <ui-switch id="posturo_epi" name="posturo_epi" [(ngModel)]="user.posturoEpi"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="eva_tz">{{ 'EVA T0' | translate }}</label><br />
          <ui-switch id="eva_tz" name="eva_tz" [(ngModel)]="user.painlevel1"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="eva_ts">{{ 'EVA T+6-8' | translate }}</label><br />
          <ui-switch id="eva_ts" name="eva_ts" [(ngModel)]="user.painlevel2"></ui-switch>
        </div>
        <div class="col-md-2">
          <label for="eva_td">{{ 'EVA T+12' | translate }}</label><br />
          <ui-switch id="eva_td" name="eva_td" [(ngModel)]="user.painlevel3"></ui-switch>
        </div>
      </div>

    </div>
    <div>
    <h2>{{ 'Cards fields activation' | translate}}</h2>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="height-weight-bmi">{{ 'Height_weight_bmi' | translate }}</label><br/>
        <ui-switch id="height-weight-bmi" name="height-weight-bmi" [(ngModel)]="userService.heightWeightBmi"></ui-switch>
      </div>
      <div class="col-md-2">
        <label for="pathology">{{ 'Pathology' | translate }}</label><br/>
        <ui-switch id="pathology" name="pathology" [(ngModel)]="userService.pathology"></ui-switch>
      </div>
      <div class="col-md-2">
        <label for="sport-frequency">{{ 'Sport frequency' | translate }}</label><br/>
        <ui-switch id="sport-frequency" name="sport-frequency" [(ngModel)]="userService.sportFrequency"></ui-switch>
      </div>
    </div>
    <h2 *ngIf="userService.shouldDisplayMandatoryCardsFields()">{{ 'Mandatory cards fields' | translate}}</h2>
    <div class="form-group row" *ngIf="userService.shouldDisplayMandatoryCardsFields()">
      <div class="col-md-2">
        <div *ngIf="userService.heightWeightBmi">
          <label for="height-weight-bmi-mandatory">{{ 'Height_weight_bmi' | translate }}</label><br />
          <ui-switch id="height-weight-bmi-mandatory" name="height-weight-bmi-mandatory" [(ngModel)]="userService.isHeightWeightBmiMandatory"></ui-switch>
        </div>
      </div>
      <div class="col-md-2">
        <div *ngIf="userService.pathology">
        <label for="pathology-mandatory">{{ 'Pathology' | translate }}</label><br />
        <ui-switch id="pathology-mandatory" name="pathology-mandatory" [(ngModel)]="userService.isPathologyMandatory"></ui-switch>
        </div>
      </div>
      <div class="col-md-2">
        <div *ngIf="userService.sportFrequency">
          <label for="sport-frequency-mandatory">{{ 'Sport frequency' | translate }}</label><br />
          <ui-switch id="sport-frequency-mandatory" name="sport-frequency-mandatory" [(ngModel)]="userService.isSportFrequencyMandatory"></ui-switch>
        </div>
      </div>
    </div>
    <h2>{{ 'Users fields activation' | translate}}</h2>
    <div class="form-group row">
      <div class="col-md-2">
        <label for="birthdate">{{ 'Birthdate' | translate }}</label><br/>
        <ui-switch id="birthdate" name="birthdate" [(ngModel)]="userService.birthdate"></ui-switch>
      </div>
    </div>
    <h2 *ngIf="userService.shouldDisplayMandatoryUsersFields()">{{ 'Mandatory users fields' | translate }}</h2>
    <div class="form-group row" *ngIf="userService.shouldDisplayMandatoryUsersFields()">
      <div class="col-md-2">
        <div *ngIf="userService.birthdate">
          <label for="birthdate-mandatory">{{ 'Birthdate' | translate }}</label><br />
          <ui-switch id="birthdate-mandatory" name="birthdate-mandatory" [(ngModel)]="userService.isBirthdateMandatory"></ui-switch>
        </div>
      </div>
    </div>
    </div>

    <hr>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="finishing">{{ 'Finishing settings' | translate }}</label>
        <select class="form-control" id="finishing" [(ngModel)]="finishingId" name="finishing">
          <option value="null" disabled>Choisir</option>
          <option *ngFor="let finishing of finishings" [value]="finishing['id']">{{ finishing['name'] | translate }}</option>
        </select>
      </div>
    </div>


    <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete user' | translate }} - {{ user.firstname }} {{ user.lastname }}</h1>
  <form #materialForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ user.firstname }} {{ user.lastname }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

