<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idMaterial === undefined">{{ 'Add material' | translate }}</h1>
  <h1 *ngIf="idMaterial !== undefined">{{ 'Edit material' | translate }} - {{ material.name | translate }}</h1>
  <form #materialForm="ngForm" (ngSubmit)="gestionMaterial(material)">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="name">{{ 'Name' | translate }}</label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="material.name" name="name">
      </div>
      <div class="col-md-12 pt-2">
        <p>{{ 'displayed_translation' | translate }}: {{ material.name | translate }}</p>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="stock">{{ 'Stock' | translate }}</label>
        <input type="number" class="form-control" id="stock" required [(ngModel)]="material.stock" name="stock">
      </div>
      <div class="col-md-6">
        <label for="stockmin">{{ 'Stock Min' | translate }}</label>
        <input type="number" class="form-control" id="stockmin" required [(ngModel)]="material.stockMin" name="stockmin">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
        <label for="isposturo">{{ 'Is posturo' | translate }}</label><br />
        <ui-switch
          id="isposturo"
          name="isposturo"
          [(ngModel)]="material.isPosturo"
          checkedLabel="{{ 'Yes' | translate }}"
          uncheckedLabel="{{ 'No' | translate }}"
          >
        </ui-switch>
      </div>
      <div class="col-md-4">
        <label for="istong">{{ 'Is tong' | translate }}</label><br />
        <ui-switch
          id="istong"
          name="istong" [(ngModel)]="material.isTong"
          checkedLabel="{{ 'Yes' | translate }}"
          uncheckedLabel="{{ 'No' | translate }}"
          >
        </ui-switch>
      </div>
      <div class="col-md-4">
          <label for="activated">{{ 'Activated' | translate }}</label><br />
          <ui-switch
            id="activated"
            name="activated"
            [(ngModel)]="material.activated"
            checkedLabel="{{ 'Yes' | translate }}"
            uncheckedLabel="{{ 'No' | translate }}"
            >
          </ui-switch>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="position">{{ 'Position' | translate }}</label>
        <select class="form-control" id="position" [(ngModel)]="material.position" required name="position">
          <option *ngFor="let item of nbreItem" [value]="item">{{ item }}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="price">{{ 'price' | translate }}</label>
        <input type="number" class="form-control" id="price" required [(ngModel)]="material.price" name="price">
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!materialForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete material' | translate }} - {{ material.name }}</h1>
  <form #materialForm="ngForm" (ngSubmit)="delete(idMaterial)">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ material.name }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

