<div class="container">
  <h1 *ngIf="idUsersPatients === undefined">{{ 'Add usersPatients' | translate }}</h1>
  <h1 *ngIf="idUsersPatients !== undefined">{{ 'Edit usersPatients' | translate }} - {{ nameUsersPatients }}</h1>
  <div *ngIf="status === 'error'" role="alert" class="alert alert-danger alert-dismissible">
    <button aria-label="Close" class="close ng-star-inserted" type="button"><span aria-hidden="true">×</span></button>
    {{ 'ERROR: Elements not created'| translate }}
  </div>
  <form #usersPatientsForm="ngForm" (ngSubmit)="gestionUsersPatients(idUsersPatients)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="usersPatientsModel.name" value="{{ nameUsersPatients }}" name="name">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!usersPatientsForm.form.valid">{{ 'Submit' | translate }}</button>

  </form>
</div>

