<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idSport === undefined">{{ 'Add sport' | translate }}</h1>
  <h1 *ngIf="idSport !== undefined">{{ 'Edit sport' | translate }} - {{ sport.name | translate }}</h1>
  <form #sportForm="ngForm" (ngSubmit)="gestionSport(sport)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="sport.name" name="name">
    </div>
    <div class="col-md-12 pt-2">
      <p>{{ 'displayed_translation' | translate }}: {{ sport.name | translate }}</p>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!sportForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete sport' | translate }} - {{ sport.name }}</h1>
  <form #sportForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ sport.name }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>

