.ng-valid[required], .ng-valid.required, .ng-valid .angular-editor  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) , .ng-invalid .angular-editor {
  border-left: 5px solid #a94442; /* red */
}

#text {
  display: block;
  border-radius: 5px;
}