<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idMessage === undefined">{{ 'Add message' | translate }}</h1>
  <h1 *ngIf="idMessage !== undefined">{{ 'Edit message' | translate }} - {{ message.title }}</h1>
  <form #messageForm="ngForm" (ngSubmit)="gestionMessage(message)">
    <div class="form-group row">
      <div class="col-md-12">
        <label for="title">{{ 'Title' | translate }}</label>
        <input type="text" class="form-control" id="title" required [(ngModel)]="message.title" name="title">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="text">{{ 'Message' | translate }}</label>
        <angular-editor [config]="config" [(ngModel)]="htmlContent" id="text" name="text" required></angular-editor>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <label for="colorPolice">{{ 'Police color' | translate }}</label>
        <input class="form-control" id="colorPolice" [style.background]="message.colorPolice" [(ngModel)]="message.colorPolice" [cpPosition]="'top'" [cpOutputFormat]="'hex'" [(colorPicker)]="message.colorPolice" name="colorPolice">
      </div>
      <div class="col-md-6">
        <label for="colorBack">{{ 'Back color' | translate }}</label>
        <input class="form-control" id="colorBack" [style.background]="message.colorBack" [(ngModel)]="message.colorBack" [cpPosition]="'top'" [cpOutputFormat]="'hex'" [(colorPicker)]="message.colorBack" name="colorBack">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-12">
        <label for="active">{{ 'Active' | translate }}</label><input type="checkbox" class="form-control" id="active" [(ngModel)]="message.active" [checked]="message.active == '1'" name="active">
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!messageForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete message' | translate }} - {{ message.title }}</h1>
  <form #messageForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ message.title}}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
