<div *ngIf="!deleteAction" class="container">
  <h1 *ngIf="idStatus === undefined">{{ 'Add status' | translate }}</h1>
  <h1 *ngIf="idStatus !== undefined">{{ 'Edit status' | translate }} - {{ status.name }}</h1>
  <form #statusForm="ngForm" (ngSubmit)="gestionStatus(status)">
    <div class="form-group">
      <label for="name">{{ 'Name' | translate }}</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="status.name" name="name">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!statusForm.form.valid">{{ 'Submit' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
<div *ngIf="deleteAction" class="container">
  <h1>{{ 'Delete status' | translate }} - {{ status.name }}</h1>
  <form #sportForm="ngForm" (ngSubmit)="delete()">
    <div>{{ 'Are you sure you want to delete'| translate }} : {{ status.name }}</div>

    <button type="submit" class="btn btn-danger">{{ 'Delete' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="navigateBack()">{{ 'Back' | translate }}</button>

  </form>
</div>
